[2017-01-29 00:49] clems4ever opened #8 "Implement SMTP notifier"

[2017-01-29 00:51] clems4ever opened #9 "Enhance error handling at endpoint level"
Error messages must always be JSON objects with explicit error types described in the documentation.

[2017-01-29 14:19] clems4ever opened #11 "Enhance logs by uniformizing logs"
Logs are not very good right now.
For instance, some parts of the code are not covered and the userid is missing in some other parts.

[2017-03-14 20:16] jkaberg opened #13 "userDN hardcoded to CN"
Lovely piece of software you got here, trying it out right now.

One thing I noticed is you hardcoded the userDN to CN in some places like [here](https://github.com/clems4ever/authelia/blob/0c748e9304cf1905e89e3ec5b4fe368d800c9a73/src/lib/ldap.js#L14), while this might work fine with openldap it does not with [FreeIPA](https://www.freeipa.org/page/Main_Page).

Changeing cn to uid on lines [14](htt

[2017-03-14 21:51] jkaberg opened #14 "No redirect, verfication ok"
Somehow, this doesn't work:
[code]

Virtual host sbox:
[code]

Virtual host auth:
[code]

I'm out of ideas as to why this doesn't work. I get redirected properly to the auth page, where I auth and get to enter my 2FA. But then I get redirected back to the login page (and not the proper url). I can see the cookie beeing generated and stored within Chrome so that seems OK

[2017-03-14 22:05] clems4ever commented on #13
Hello @jkaberg ,

Thank you! That is true, I hardcoded it so that it fitted to my needs and I did not try it with FreeIPA. Do not hesitate to contribute with a PR if your code works and tests are green. I would be glad to review and add your name in the contributors list.

[2017-03-14 22:18] clems4ever commented on #14
Are you using  auth.xxxx.local for authentication and sbox.xxxx.local for accessing the secret?

If yes, the issue might come from the cookie. Indeed, the cookie might be restricted to the domain it has been produced for.

Can you confirm the domain associated to the cookie?

[2017-03-15 09:36] jkaberg commented on #14
Yes the domain associated with the cookie is the auth.xxxx.local domain (and not sbox.xxxx.local). Would it be possible to add some kind of wildcard functionality? eg *.xxxx.local is authenticated? (just thinking out loud)

[2017-03-15 09:38] jkaberg commented on #13
@clems4ever, PR submitted https://github.com/clems4ever/authelia/pull/15

[2017-03-15 13:15] clems4ever commented on #14
Well, I think it could be possible as per
http://stackoverflow.com/questions/18492576/share-cookie-between-subdomain-and-domain
.

Do you confirm your cookie is restricted to auth.xxxx.local by inspecting
the request with your browser?

*Clément Michaud*
*FO Software engineer at Murex.*
(+33) 7 69 03 67 09

On Wed, Mar 15, 2017 at 10:36 AM, Joel Kåberg <notifications@github.com>
wrote:

[2017-03-15 13:35] jkaberg commented on #14
Not entirely sure what you're looking for, but this is the cookie I got for auth.xxxx.local

![image](https://cloud.githubusercontent.com/assets/613363/23950828/96695266-098c-11e7-830b-18b7273ef31b.png)

[2017-03-15 16:21] clems4ever commented on #14
It clearly seems to be your problem. The domain of your cookie is
auth.xxxx.local. Thus, it can only be acknowledged by that specific domain.
I think a change in the code is required so that it produces a cookie for
the broader domain xxxx.local as it is explained in the stackoverflow
thread I linked earlier.

A workaround would be to use only one domain. If it is not possible on your
side, I need

[2017-03-15 16:25] jkaberg commented on #14
@clems4ever A domain wide cookie (perhaps optional in the config where it would default to subdomain?) would be for the best. I got a lot of services running on various sub domains and getting them all to co-exist on a single sub domain would be asking for much (..trouble)

[2017-03-15 16:48] jkaberg commented on #14
@clems4ever I'm by no means an javascript guy, but [this ](https://github.com/expressjs/session/blob/2604a6cbac9a77b4e06959e8aebe65b50ccb9491/README.md#cookiedomain) might interest you

[2017-03-15 17:41] jkaberg commented on #14
Succsess, it works! Adding ```domain: 'xxxx.local'``` as a test to src/lib/server.js after line [37](https://github.com/clems4ever/authelia/blob/master/src/lib/server.js#L37) fixes this. Not the most elegant solution as this hardcode's it, but atleast it shows it's possible. Now you just need an function to strip out the base domain and top domain 😄

[2017-03-15 19:46] clems4ever commented on #14
This is awesome! I will implement it right away in a more sustainable way.

No problem you are not a javascript guy. Me neither but the language is
bloody fast for prototyping. I'm more a C++ guy, btw.

Just out of curiosity, what are you implementing authelia for? Personal
projects? Company web services?

Le 15 mars 2017 18:41, "Joel Kåberg" <notifications@github.com> a écrit :

Succsess, it work

[2017-03-15 20:39] clems4ever commented on #14
Great! AFAIK, I use it with U2F for protected services in a cluster.

This is a pleasure talking to you. I'm currently working on a fix. I will add a **domain** parameter in the config so that you can specify whatever you want. I decided to do it this way because the domain is required during the initialization of the server.

[2017-03-15 22:56] clems4ever opened #16 "Handle SSO accross subdomains"
Today, the user of the server is authenticating per subdomain. Indeed the session cookie has a limited scope (the subdomain). To allow real SSO accros subdomains, the session cookie must have a wider scope (the domain scope).
After the change, redirections have been reworked and the readme updated to ask the user to add lines to /etc/hosts to test authelia accross multiple domains.

[2017-03-15 22:58] #16 closed

[2017-03-16 00:36] clems4ever commented on #13
@jkaberg, pull request #18 is a long-term solution to what you are trying to do.

[2017-03-16 00:39] clems4ever commented on #14
Hello @jkaberg , #17 gives you a way to specify your domain in the config file so that the cookies are shared by all subdomains of your domain.

[2017-03-16 08:16] jkaberg commented on #14
Thanks a lot @clems4ever for the updates. Would you mind pushing an update to docker hub? Ideally you could set up an automatic build on docker hub and it will build new images as you push new commits to master branch on Github 😄

[2017-03-16 08:38] clems4ever commented on #14
Indeed, I did not setup automatic push on docker hub with travis yet. I
will do it today and keep you posted once done.

Le 16 mars 2017 09:16, "Joel Kåberg" <notifications@github.com> a écrit :

Thanks a lot @clems4ever <https://github.com/clems4ever> for the updates.
Would you mind pushing an update to docker hub? Ideally you could set up an
automatic build on docker hub and it will build new im

[2017-03-16 21:31] clems4ever commented on #14
Hello @jkaberg, automatic push to Dockerhub is enabled and the latest image is available.

[2017-03-16 21:31] #14 closed

[2017-03-16 21:32] #13 closed

[2017-03-17 09:24] jkaberg commented on #14
Thanks @clems4ever !

[2017-03-17 17:15] jkaberg opened #20 "Feature request: Restrict access to URL by group"
I'd love to see an option in the config where one could specify which LDAP group has access to what urls, and an default policy 😃

For example (yaml):

[code]
So if my user is in group admin, superuser and users group I get access to all these subdomains or if my user is in group users and superuser I only get access to these urls.

[2017-03-20 09:23] clems4ever commented on #20
Indeed, it would be a good feature. I'll have a look shortly and get back to you.

[2017-03-25 18:27] clems4ever commented on #20
Hello @jkaberg , PR #21 should do the job!

[2017-03-26 10:17] jkaberg commented on #20
Thank you very much @clems4ever! I will give this a go after I've reworked my Docker Stack 😃

[2017-03-26 10:17] #20 closed

[2017-03-30 17:36] jkaberg commented on #20
@clems4ever Spot on! Works like a charm. Thank you very much 💃

[2017-04-09 18:02] clems4ever opened #23 "Authelia does not reconnect correctly to ldap server after inactivity period"

[2017-05-13 17:58] jkaberg opened #24 "Authelia loses track of authenticated users"
Whenever I restart the authelia container it forgets authenticated users, which results in the need to authenticate again.

I'm mounting the container as such:

[code]
Browsing the store folder looking into the files tells me things get stored correctly. So I'm assuming this might be an oversight in the code? Or is this by design?

[2017-05-13 18:00] jkaberg opened #25 "Move to Docker alpine image"
The current official image is at 713MB, quite big imo.

Perhaps we can get this a bit smaller? 😄

[2017-05-13 18:04] jkaberg opened #26 "Base path should be optional"
Currently Authelia seems hardcoded to use /authentication for all calls.

Perhaps this could be made optional? 😄

[2017-05-13 18:06] jkaberg opened #27 "Responsive UI"
In it's current state, Authelia is not responsive.

Perhaps we could get a more responsive UI which adapts to small and big screens? 😄

[2017-05-13 22:30] clems4ever commented on #27
Hello @jkaberg , thank you for your feedback. Indeed this is something I'd like to work on. I'm currently migrating the framework to typescript but once done I'll rewrite the frontend so that it becomes more responsive.

[2017-05-13 22:33] clems4ever commented on #26
Hello @jkaberg , I will give it a try.

[2017-05-13 22:38] clems4ever commented on #25
Hello @jkaberg , you are right. Alpine is a good way to improve the image size but I think there is something simpler I can do by not installing dev packages in the image. I will replace **npm install** by **npm install --production** and see how it goes.

[2017-05-14 14:42] clems4ever commented on #24
Hello @jkaberg , the session are only stored in memory and not persisted yet. It explains why the users are logged off when restarting the application. However, the express-session package allows us to implement session persistence with key value stores like redis. This would be yet another component in the architecture but I planned to add it at some point for scalability.

[2017-05-14 15:07] clems4ever commented on #25
Clearly better now ! :).

![image](https://cloud.githubusercontent.com/assets/3193257/26035141/b75d8bbc-38c7-11e7-8bec-4c46817562a5.png)

[2017-05-14 15:08] clems4ever opened #29 "Convert the project into typescript"

[2017-05-14 15:09] clems4ever opened #30 "Use SMS notification as a 2nd factor"

[2017-05-14 17:03] jkaberg commented on #25
Very nice! Thanks 😄

[2017-05-14 17:03] #25 closed

[2017-05-14 17:04] jkaberg commented on #24
I'm already using Redis with another app so thats fine by me if you decied to go with Redis 😄

[2017-05-14 18:17] jkaberg commented on #26
I see you've got an seperate branch for this. Somehow the new alpine docker container listens on / instead of /authentication. Haven't checked as to why yet but thought I'd let you know.

[2017-05-14 19:15] jkaberg opened #32 "Nothing on /"
Currently there's nothing on /. How about adding an default route that sends user to /login if not authenticated?

I've temporarly solved this with nginx and:
[code]

However if an default route existed I could drop my backend NGINX proxy all together in favor of my frontend proxy [Træfik](https://traefik.io/)

Currently I have Træfik-->NGINX-->Authelia, but with this fix I could Træfik-->Authelia

[2017-05-14 19:40] clems4ever commented on #32
Hello @jkaberg , I don't really understand, can't you do the config with Traefik like you would with nginx. Is Traefik so limited?

[2017-05-14 19:49] clems4ever commented on #24
I'll give it a try then. After Redis I'll rework the DB and Authelia will be fully scalable. Good thing! :)
I'll keep you posted in the coming weeks since I'm also migrating the project to typescript in the meantime.

[2017-05-14 19:56] clems4ever commented on #26
The feature has been merged. "/authentication/" base path has been removed with #31 .

[2017-05-15 04:46] jkaberg commented on #32
I can't do the rewrite with Træfik,
[code]
Otherwise in my opinion Træfik is quite powerfull, but it's lacking fine grained controll like the above

[2017-05-15 11:06] clems4ever commented on #32
Hello @jkaberg,

I found the following configuration snippet in the documentation of traefik.
Would not it work in your case to remove nginx?

# To redirect an entrypoint rewriting the URL:
# [entryPoints]
#   [entryPoints.http]
#   address = ":80"
#     [entryPoints.http.redirect]
#       regex = "^http://localhost/(.*)"
#       replacement = "http://mydomain/$1"
#

[2017-05-15 16:08] #26 closed

[2017-05-31 23:47] SerialVelocity opened #34 "Tag docker builds"
Hey!

Love the work you're doing here! Is it possible to tag the docker builds with version tags? It would be nice to not be restricted to just `latest` which can vary on different machines depending on when you last ran a `docker pull`.

Cheers,
Ben

[2017-05-31 23:52] SerialVelocity commented on #29
Slightly unrelated note, but have you tried Elm? It's basically what I use for everything I build front-end related now :)

http://elm-lang.org/

[2017-06-01 00:00] SerialVelocity commented on #32
It seems like it can be done in Traefik directly. I think @jkaberg's original point is still valid though that `/` should redirect somewhere. `/login` seems like a reasonable choice.

Sorry, reason why I kind of hijacked this thread just now was to actually ask:
@jkaberg How would you get rid of nginx? I didn't think auth was configurable in Traefik (there only seems to be basic and digest auth)

[2017-06-01 07:05] jkaberg commented on #32
@clems4ever yes thats true. however it would be better if Authelia did it instead.

@SerialVelocity I didn't get rid of NGINX just yet, it still sits infront of the real servers using auth_request to send stuff to authelia. There is some work beeing done on this front,

[2017-06-01 07:06] clems4ever commented on #29
Hello @SerialVelocity , I did not know Elm but I'll definitely have a look. Since the project has already been rewritten in typescript, is there any reason to use it anymore?

[2017-06-01 07:08] jkaberg commented on #34
Docker Hub can be setup to build images from Github tags, https://docs.docker.com/docker-hub/builds/#add-and-run-a-new-build 😄

[2017-06-01 07:09] clems4ever commented on #27
Hello @jkaberg , the work is ongoing, I rewrote the client in typescript and I'm currently simplifying the endpoints. I'm also reworking the frontend to make it beautiful and responsive and make it better support history (being able to go to previous page during second factor). The work is in a dev branch but is not yet finished.

[2017-06-01 07:11] clems4ever commented on #34
Definitely, I will change the Travis deployment to tag the images with the git tags. It should be done today, I'll keep you posted.

[2017-06-01 07:13] clems4ever commented on #32
FIY, I'm currently reworking the routes and I will serve the login page on / in the next version. It will be simpler. @jkaberg , I'll keep you posted once done.

[2017-06-01 07:32] SerialVelocity commented on #29
@clems4ever Nope, no reason at all (only if you want to learn a new language :P )

[2017-06-01 09:11] jkaberg opened #35 "Generating new token results in an invalid url"
When registring for a new totp token the url thats sent looks like

[code]

Should be
[code]

[2017-06-01 21:01] clems4ever commented on #35
Hello @jkaberg , I made a fix for the undefined part in #37. I have just merged it but I think it won't fix your problem.

This undefined value is here because this URL is generated by concatenating the hostname (which is auth.domain.tld in your case) and the content of the header value **x-original-uri** which is set by nginx proxy in the example configuration.
I guess it is not set in your case

[2017-06-01 21:03] clems4ever commented on #34
Hello @SerialVelocity  , it's done. Docker images are now tagged with npm versions.

[2017-06-01 21:04] clems4ever commented on #29
Good, thank you for the info. :)

[2017-06-01 22:18] SerialVelocity commented on #34
Nice! Thank you!

[2017-06-01 22:18] #34 closed

[2017-06-01 22:22] SerialVelocity commented on #35
I guess I'm misunderstanding something since this project is pretty new to me, but what should that `undefined` represent? From the URL example that @jkaberg posted, it should just be a "register" URL so it shouldn't matter what `x-original-url` is set to, right?

[2017-06-05 20:16] clems4ever commented on #35
Hello @SerialVelocity, the "undefined" you see is the outcome of a bug I've just fixed. The value it represents is the path the user must be redirected to to get its TOTP secret generated.

Indeed, in the case of @jkaberg , it should only be **/totp-register** so no need to use x-original-url for that. Actually a few months ago, I served the authentication API behind a subpath of the protected sub

[2017-06-06 09:21] SerialVelocity commented on #35
Nice, thanks for the info!

[2017-06-06 20:53] jkaberg commented on #35
Thanks @clems4ever :smile_cat:

[2017-06-06 20:53] #35 closed

[2017-06-06 20:56] jkaberg commented on #23
Just letting you know I've also experienced this. It sucks somewhat as Authelia currently doesn't keep track of authenticated users, and an 'quick' fix for this particular issue is to restart the Authelia container

[2017-06-06 21:25] clems4ever commented on #23
Actually, after you face the issue if you log in a second time it should work, even without restarting the container.

[2017-06-07 19:59] clems4ever commented on #27
Hello @jkaberg,
What do you think about this frontend ?
![image](https://user-images.githubusercontent.com/3193257/26898519-9726279c-4bcc-11e7-96e7-0a4e29a06d6a.png)
Fully responsive, obviously.

[2017-06-07 20:17] jkaberg commented on #27
@clems4ever Looking nice, well done! :smile:

[2017-06-07 20:18] clems4ever commented on #27
Not done yet but in progress :).

[2017-06-13 12:12] cscottthomas opened #39 "index.js missing"
Hi,  I've tried to deploy following the 'Getting started' and it fails.  Authelia container is sat in a state of permanent restart with logs showing:

autheliamaster_auth   "node index.js /etc/a"   34 minutes ago      Restarting (1) 6 minutes ago

Error: Cannot find module '/usr/src/index.js'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:25)

[2017-06-13 15:38] igloves opened #40 "Authelia does not retrieve group information from an apaches server"
Hi,

I have testing authelia and have it working fine with the exception I cannot read group information from an apacheDS ldap server. If I set access control in the config template to set a default domain or to allocate a domain to a user specifically - all works fine. But not if I want to determine access via a group member.

Other LDAP attributes are returned just fine : dn mail etc

There are

[2017-06-13 22:46] clems4ever commented on #40
Hello @igloves, I have never faced this issue. Can you please make sure the type of object for your groups in LDAP is the same as the one I defined in the file example/ldap/base.ldiff?

[2017-06-13 23:06] clems4ever commented on #39
Hello @cscottthomas , thank you for creating this ticket.
The README was not complete because I forgot to update part of it after the migration into Typescript. Now, before deploying the docker stack, one would need to build the application from Typescript with Grunt and the TS compiler. So, to fix your issue, you probably need to run those two commands before deploying the docker stack:

`npm ins

[2017-06-14 07:00] cscottthomas commented on #39
Following these steps and in case anyone else hits the same, I was met with:

:~/authelia-master$ grunt build
/usr/bin/env: ‘node’: No such file or directory

fixed by:
ln -s /usr/bin/nodejs /usr/bin/node

However, this fixed my issue.  Containers up & stable.  Thanks for the help, Clément!

[2017-06-14 08:14] igloves commented on #40
Hi @clems4ever
The ldap is the same as your example. In fact I have run this against another directory IBM SDS and it works fine, the data is the same its been migrated from one to the other.  The problem is specific th apacheDS.
I have added a few debug statements and can see the  ldap filter is setup correctly but when the call is made to ldap.js:Ldap.prototype._search_in_ldap it never produces

[2017-06-14 13:08] igloves commented on #40
Hi @clems4ever

I've tracked it down... The issue arises because there are ACLs applied to the apacheDS Im using which prevents the user from interrogating the group definitions. The ldap.js module assumes access and all functions are performed using the initial user bind. Logically I think this module should be split so that protected directories can be searched by a privileged user and the initi

[2017-06-14 20:35] clems4ever commented on #39
Hello @cscottthomas , thank you for the feedback.
I close the issue.

[2017-06-14 20:35] #39 closed

[2017-06-14 20:51] clems4ever commented on #40
Hello @igloves , this is interesting! Do you have a Docker image of a LDAP like yours so that I can fix it and add an integration test to be sure the fix is working?

[2017-06-14 22:24] clems4ever commented on #40
Hello @igloves , I created the branch **ldap-bind** to fix the issue.

[2017-06-15 09:55] igloves commented on #40
No sorry. But I think you could still test with what you have just make sure the admin functions are performed by a configurable admin ID. I would be very happy to beta test this for you

[2017-06-15 17:47] #32 closed

[2017-06-15 17:47] #27 closed

[2017-06-16 04:10] ColdIce1 opened #42 "Upstream timed out while reading response header from upstream,"
Running this instance on a docker using Synology Directory Server. I believe the LDAP server should be fine.

HTTP ERROR:
`2017/06/16 05:56:51 [error] 17861#17861: *5 upstream timed out (110: Connection timed out) while reading response header from upstream, client: NOPE, server: auth.mydomain.com request: "POST /api/firstfactor HTTP/2.0", upstream: "http://192.168.0.5:8080/api/firstfactor", host:

[2017-06-16 16:10] clems4ever commented on #42
Hello @ColdIce1 ,
can you please make sure HTTP requests are forwarded from your proxy to Authelia with the following command?

`docker logs <authelia_container_name>`

where **<authelia_container_name>** is your Authelia container name.

Thanks,
Clément.

[2017-06-16 16:12] clems4ever commented on #40
Hello @igloves,

I'm setting up an env with ACL rules like yours to make a good fix and ensure non regression. I'll keep you posted when I have a good fix.

[2017-06-16 20:36] ColdIce1 commented on #42
Hi @clems4ever
Please see the following docker logs:
[code]

[2017-06-17 23:45] ColdIce1 commented on #42
After some debug and verifying LDAP configuration, the issue got resolved.
Think it was wrong with my config file, not sure what.

Wish there was a bit more debug why it failed tho.

[2017-06-17 23:45] #42 closed

[2017-06-18 00:06] ColdIce1 opened #43 "Request: Support ACL with subfolder"
Would like support for "subfolder" ACL.
Nginx conf example:
[code]

ACL config in Authelia:
[code]

[2017-06-18 17:25] clems4ever commented on #43
Hello @ColdIce1, it would be a great idea actually. Do not hesitate to contribute otherwise I'll handle it.

[2017-06-19 08:30] #29 closed

[2017-06-29 11:19] clems4ever commented on #40
Hello @igloves , can you please test PR #45 with your Apache LDAP?
On my side I added custom ACL rules on the OpenLDAP server to restrict search operations for users and it seems to work.
Be careful, I changed the deployment commands to package everything better. Please read the **Getting started** section of the README to see.

[2017-07-02 20:25] clems4ever commented on #24
Hello @jkaberg,
I've started the development of this feature in the **redis-sessions** branch. It works already but I need to more unit and integration tests to merge it in mainstream. I'll keep you posted.

[2017-07-08 08:42] clems4ever commented on #40
Hello @igloves , any news? Just let me know if you don't have time to test it before I merge. I plan to merge the PR next week end.

[2017-07-13 23:12] clems4ever commented on #40
Hello @igloves, I merged the PR into mainstream.

[2017-07-14 15:57] clems4ever opened #48 "Unban user after too many authentication retries"
When user has performed too many wrong authentication, it is locked for a few minutes to avoid brute force.
It would be great if somebody with admin rights could unlock a locked user.

[2017-07-14 15:58] clems4ever opened #49 "Use a scalable database instead of NeDB"
Using a scalable database instead of NeDB would make the framework scalable and resilient. This is the last missing block before the service is fully scalable and kind of "enterprise ready".

[2017-07-16 14:42] clems4ever commented on #24
Hello @jkaberg ,
I merged the pull request #47. Your users won't be unauthenticated anymore when the service restarts.

[2017-07-16 14:42] #24 closed

[2017-07-16 20:51] clems4ever commented on #23
I'm currently trying to reproduce with more verbose logs to fix the issue.

[2017-07-17 20:05] #40 closed

[2017-07-18 20:08] jkaberg commented on #24
Thanks @clems4ever, works like a dream!

[2017-07-18 22:24] clems4ever opened #54 "User is redirected to "already logged in" page when she has restricted access to subdomain."
![image](https://user-images.githubusercontent.com/3193257/28342412-68628948-6c18-11e7-943f-d1f01bfbea71.png)

Use case:
Log in as harry and go to https://secret.test.local:8080/secret.html
You should see the "already logged in" page.

[2017-07-18 22:33] clems4ever commented on #23
Hello,
I haven't find the root cause yet but I'm trying to change a bit the way Authelia connects to the server. Indeed, I think the bug is due to long connection being closed after a timeout or something. Thus, after my fix I'm opening a connection for each operation performed against the LDAP server. That way, the ldap client avoid keeping connection until it becomes idle.
I'm testing this new c

[2017-07-18 22:56] clems4ever opened #56 "Notifications pop up on the top right of the screen, this is bad UX."
Notifications on the top right of the screen are ugly and not very user-friendly on mobile devices.
It would be better to integrate them in the inner view (on top of the authentication form for example).

[2017-07-19 06:36] clems4ever commented on #23
The fix is working. It will be merged soon!

[2017-07-19 08:26] clems4ever opened #57 "Replace passwords in config by stars in the logs"

[2017-07-19 19:09] clems4ever commented on #23
Hello @jkaberg ,
I fixed it at v3.1.4. It's being published in npm and Dockerhub.

[2017-07-19 19:09] #23 closed

[2017-07-20 09:04] clems4ever opened #59 "User is sometimes redirected to "already logged in" page after successful authentication"
Authelia keeps track of the latest URL where the user comes from so that it can redirect after authentication. In certain scenarii, the redirection URL is an URL to Authelia. So, when the user authenticates he is redirected to the "already logged in" page.

Such a case is for example when the user inputs wrong credentials the first time and good credentials the second time.

[2017-07-20 09:06] clems4ever commented on #49
Work in progress

[2017-07-20 09:08] #11 closed

[2017-07-20 09:10] clems4ever commented on #59
A fix could be to only keeps track of non Authelia urls.

[2017-07-22 08:51] clems4ever opened #60 "Create a tool to generate configuration documentation based on annotations"

[2017-07-25 10:10] jkaberg commented on #60
@clems4ever great idea. however perhaps take it one step further and create an "admin area" (web ui) where admins can define the options currently located in the config? an simple one page setup where all config options is present is what I had in mind :smile:

[2017-07-25 10:20] clems4ever commented on #60
Hello @jkaberg, you are reading in my mind! I had in mind to create this "admin area" to allow an admin to unban users who performed too many wrong authentications.
But indeed, it could also be used to define the settings. However this is a nice to have for the moment.

[2017-07-25 10:22] clems4ever commented on #49
The development is already working in branch **resilient-db**. I'm now trying to migrate system tests to cucumber.

[2017-08-02 00:05] w9n opened #62 "OAuth endpoint"
Hi there,

nice Project!

What do you think about adding OAuth authorization capabilities, so that this project turns into a single sign on web reverse proxy with 2fa? There is a [node implementation](https://github.com/oauthjs/node-oauth2-server) of [Authorization code grant](https://oauth2.thephpleague.com/authorization-server/auth-code-grant/) which could be [authorized by the existing session]

[2017-08-02 09:50] clems4ever commented on #62
Hello @w9n,

Thank you for the proposal. I thought about it lately but I wonder if I can use OAuth with my own LDAP and users not having an account on Google. What do you think?
By the way, Authelia is already a SSO reverse proxy with 2FA (supporting TOTP and U2F for the moment). I don't really understand what you meant.

Thanks,
Clément.

[2017-08-02 20:29] #49 closed

[2017-08-02 21:51] clems4ever commented on #59
Not reproducible

[2017-08-02 21:51] #59 closed

[2017-08-02 22:45] clems4ever commented on #54
The issue was coming from the fact that /verify sent an error 401. Unfortunately, nginx redirected to authentication page when 401 is sent. And since the user was already authenticated, this page was rendered.
To fix the issue, /verify sends an error 403 for domain restriction and 401 when user is not authenticated.

[2017-08-02 22:54] clems4ever commented on #54
Fixed with #63

[2017-08-02 22:54] #54 closed

[2017-08-03 04:59] w9n commented on #62
hi @clems4ever,

you are right authelia is basic SSO, but there are also different definitions which require the user to seamlessly log into various services from its location. This is where OAuth comes into play, which can be implemented by one self without any third party relationship like google.

Lets say there is a gitlab service running behind the proxy. [Gitlab allows](https://docs.gitlab.c

[2017-08-04 16:29] FrozenDragoon commented on #59
I see you closed this as not reproducible, perhaps I'm doing something wrong.

In my testing, I have one user and one ACL: allow secret1.test.com (secret2.test.com is my test for deny).
When attempting to access secret2.test.com/secret.html, the redirect to login works, I am prompted to log in.  Upon logging in, I am presented with "You are already logged in".

I believe this to be an issue with t

[2017-08-04 19:29] clems4ever commented on #59
Hello @FrozenDragoon,
Thank you for your feedback. I've just try to reproduce with user **bob** but did not reproduce the issue. I get an error 403 upon successful authentication:
![image](https://user-images.githubusercontent.com/3193257/28983826-c014a77a-795b-11e7-8b16-57e79316a8c5.png)
Can you please help me reproduce with a user of the example environment?
Are you using version 3.2.0?

[2017-08-05 13:14] FrozenDragoon commented on #59
I verified I am using 3.2.0, via the docker image released ~2 days ago.

I initially had issues with the example environment (didn't realize I needed nodejs-legacy and not just nodejs on Ubuntu), which is why I wasn't testing it, but you're right, it does work perfectly in the provided example.

Something else interesting, in my environment, if I log in and don't get redirected and then log out, t

[2017-08-08 09:25] clems4ever commented on #59
Hello @FrozenDragoon ,

I got the issue with the legacy nodejs as well. I should document it somewhere.

For the redirection, if you have a look at the nginx configuration in example/nginx, you'll see those lines:

    location /auth_verify {
        internal;
        proxy_set_header  X-Original-URI $request_uri;
        proxy_set_header  X-Real-IP $remote_addr;
        proxy_set_header  Host $ht

[2017-08-18 20:33] timaebi opened #65 "Header X-Remote-User is not set"
The example nginx configuration suggests that there is a `X-Forwarded-User` and `Remote-Groups` header sent to the server behind the proxy. However, this is not the case. There is no `X-Remote-User` and no `X-Remote-Groups` response header set in the answer coming from the `/verify` endpoint.
Also looking at the code, I couldn't find anything that would add them. It would be cool if they were set,

[2017-08-18 20:56] clems4ever commented on #65
This is clearly a mistake. Thanks for reporting. I think I would have need it for OAuth integration at some point.
Since a I have no access to my computer (put differently I'm in vacation ;) ), can you wait until beginning of September?

Thank you very much for your feedback on Authelia BTW,  this is very nice and encouraging. What are you using Authelia for?

[2017-08-19 09:55] timaebi commented on #65
I quickly fixed it myself.
I currently using it for my self but in the future I may use it for my associations homepage.

[2017-08-19 20:05] clems4ever commented on #65
Awesome! Do not hesitate to contribute to mainstream if you wish. Great you plan to use it for your association. Would you use U2F?

[2017-08-21 07:36] clems4ever opened #67 "Throw a useful logging message when connection to redis failed."

[2017-08-21 07:37] clems4ever opened #68 "Throw a useful logging message when connection to mongo failed."

[2017-08-21 08:19] clems4ever opened #69 "Throw a useful logging message when connection to ldap failed."

[2017-08-27 14:43] timaebi opened #70 "Configurable LDAP filter"
The current LDAP configuration allows to set a `base_dn` and an additional DN for each groups and users. It would be very helpful, if one could configure an LDAP filter string like `user_filter` and `group_filter`.

Background:
On my LDAP server the group membership property is `uniqueMember` instead of `member`, which doesn't work with the current implementation. This could be handled with a cust

[2017-08-30 20:32] clems4ever commented on #70
hello @timaebi,
you are right, this is clearly a gap for the groups because I indeed hard coded 'member'. However, for the users it should be working already. But anyway a filter would clearly avoid any problem either for users or groups.
I think I will take the LDAP configuration of Jenkins as an example to implement the feature.

Thank you for the report, it's really helping.

[2017-09-01 13:42] clems4ever opened #71 "Automatic generation of the documentation in Travis"
As of now, the documentation is not in sync with the version of the package and the apiDoc comments. This needs to be automatically generated or at least tested using Travis.

[2017-09-01 13:46] clems4ever commented on #65
Review is done and waiting for a fix not to edit the documentation in the commit. Everything else is ok.

[2017-09-02 06:44] Chemsmith opened #73 "Use email as second factor"
So I was thinking it would be handy if it were possible to use email as an alternate or perhaps backup second factor authentication pathway? Similar to the use of SMS.

Email is probably not as secure as U2F or maybe even a OTP generator but it removes the need for a separate app or device to take advantage of 2FA. Could be optionally enabled.

[2017-09-02 08:26] clems4ever commented on #73
Hello @ChemicalNovae,

First, thank you for your interest in Authelia and for this contribution.
Concerning your wish to have email as a second factor, I'm not pretty sure this is a good idea because I've never seen one using it (be it Google, Facebook, Github or whatever) so far. Plus, some people more aware of security concerns than I am do not recommend it as you can read it here for example: h

[2017-09-02 14:54] clems4ever commented on #56
Done in #74. Merged

[2017-09-02 14:54] #56 closed

[2017-09-02 23:28] clems4ever commented on #70
Hello @timaebi, I'm working on this and it is almost done. It is in a dev branch for the moment but it will be merged soon.

[2017-09-03 13:15] clems4ever commented on #70
Hello @timaebi , it is solved with #75. It's in mainstream.

[2017-09-03 13:15] #70 closed

[2017-09-03 13:16] clems4ever commented on #9
The REST endpoints must always respond with 200 but with the key error in the response so that the client can use the error message sent by the server.

[2017-09-03 16:09] clems4ever commented on #43
Hello @ColdIce1, actually the feature is a bit more complicated that I expected in terms of definition. Here is the kind of config I ended up with so far:

[code]
'Resources' is a list of regexp in order to have the maximum flexibility.
What do you think?

[2017-09-03 16:12] clems4ever commented on #43
It's a lot more verbose than before but I can try to shrink it a bit by defining 'allow' as the default policy if no policy is provided in the rule. That way I can remove some of them and reduce the number of lines.

[2017-09-03 18:26] jkaberg commented on #62
@w9n so basically your suggesting an IDM (Identity management), where Authelia would be the gateway? This is already implemented at other platforms like Keycloak or Gluu.

[2017-09-04 06:38] ChemicalNovae commented on #73
Hi @clems4ever,

Thanks for the quick reply. That makes sense and I accept the reasoning that email doesn't really add another factor. Partially I wanted it for testing purposes so there wasn't a need to setup multiple token generators for multiple test users. What actually got me thinking about it was that the VPN providor DigitalOcean uses email as a second factor for 2FA and I just happened to

[2017-09-04 06:52] clems4ever commented on #73
Hello, @ChemicalNovae,
I'm sorry I meant fingerprint... :).
I will definitely have a look at this on DigitalOcean. I have an account but I've never paid attention to this.
Anyway, I know that testing is a bit complex with only U2F and TOTP but I don't see a simple way to make it easier to test without interfering with production code and don't really want to create weakness points in term of secur

[2017-09-04 07:02] ChemicalNovae commented on #73
As handy as that sounds I don't think it's worth expending energy developing.

But if you think you can do it easily it would definitely make it easier than having to either change the config to enable email (what I ended up doing) or pulling it out of a file each time. I wonder if it becomes a security issue its self though?

[2017-09-04 07:24] clems4ever commented on #73
I know what pain it is because I ended up doing this in the integration tests. This what make the run a bit long.
The tool I was talking about would only be a helper and won't be in Authelia's code, so no security issue at all. This would be just a Google Authenticator in-house.

[2017-09-04 08:04] w9n commented on #62
yes, i discovered Keycloak and made good experience with. From a functionality aspect its pretty mature but Authelia is still a nice lightweight alternative to java ee on wildfly.

I will close this issue because i dont think its a good idea to develop in this direction. Authelia fits good somewhere between basic auth and complex IDM.

[2017-09-04 08:04] #62 closed

[2017-09-04 10:16] timaebi commented on #70
Looks great. Thanks a lot.
I am currently on holiday and will try it out later.

[2017-09-04 13:49] repelista opened #76 "Error during installation (ENOENT: no such file or directory)"
Hi, i got next error:
[code]

[2017-09-04 19:47] clems4ever commented on #70
No problem. Enjoy!

[2017-09-04 23:17] clems4ever commented on #76
Hello @repelista, thank you for the report, i'm currently working on it.

[2017-09-08 12:07] jkaberg opened #77 "TCP._handle.close [as _onclose] (net.js:511:12)"
Seeing a lot of these recently, which makes POST/XHR requests fail.

Will debug further this weekend, just wondering if you've seen this before @clems4ever?

[code]

[2017-09-08 12:49] clems4ever commented on #77
Hello @jkaberg,
wow, I have not seen this before. Are you still deploying from the example?
Are all your external services (ldap, redis, mongo) up and running and accessible from Authelia?
Can you provide me with your commit id and config file if customized?

[2017-09-08 13:06] jkaberg commented on #77
@clems4ever Did some debugging now, so Authelia is able to connect to both Redis and MongoDB. I've also tried commenting them out of the config to see what happens and the error persist so I don't think it's related to Redis or MongoDB. Authelia is able to auth against LDAP just fine, actually the entire auth process with LDAP login and TOTP/2FA works as expected.

I'm using the latest Docker imag

[2017-09-08 16:52] Rast1234 opened #78 "Messages about mssing infrastructure"
Hello. Just installed authelia with docker-compose and got error like `TypeError: Cannot read property ‘auth’ of undefined \\ at Object.get (/usr/src/lib/AuthenticationSession.js:19:21)`. Spent some time understanding what's wrong until i realised that redis instance was in different network. Since authelia depends only on mongo, redis and openldap, maybe it's posible to add checks and human reada

[2017-09-08 18:56] Rast1234 opened #79 "First factor fails"
I am totally new to LDAP, but i think my test setup is fine. However, authentication fails at 1st factor. What's strange, that authelia counts it as successful, but then instantly fails. I checked sources and can't find how this is possible: it calls ` regulator.mark(username, true);` and redirects to second factor page, which throws 401. Maybe there's a race condition between writing to database

[2017-09-09 08:17] clems4ever commented on #76
Hi @repelista , it took me some time but I finally found the source of the issue. The build artifacts were not in the npm package because in travis when you use Travis provider for deploying npm packages, it cleans everything up before deploying. Since artifacts were generated by typescript and do not belong to the git repo, they were flushed and then not included in the package...
PR #80 fixes th

[2017-09-09 08:17] #76 closed

[2017-09-09 08:26] clems4ever commented on #77
Hello @jkaberg,
thank you for sending the config. It looks good to me however. And indeed, you are right, logs might be a bit insufficient since we cannot clearly see the problem. But the thing is I don't even know where to plug any log to detect those kind of issues though. Do you have a particular nginx config?
I once had a problem with jenkins login and I had to add the following line to the /v

[2017-09-09 08:26] clems4ever commented on #77
Do not hesitate to post a test case if you find an easy way to reproduce so that I can help further.

[2017-09-09 08:28] clems4ever commented on #78
Hello @Rast1234 , thank you for reporting.
Have you directly used the docker-compose command to deploy or the provided script (given in the README)?

[2017-09-09 08:33] clems4ever commented on #79
Hello @Rast1234 , thank you for reporting.
Do you have a Redis instance accessible from Authelia? What I see here is that the AuthSession which is the session cookie has not validated first factor while Authelia says it successfully validated it. So my guess is that the the AuthSession is not correctly stored in Redis. Can you please make sure there is at least anything in Redis?
By the way, detec

[2017-09-09 08:36] Rast1234 commented on #78
I made custom docker-compose file myself. I checked that mongo/redis/ldap containers are available by logging in authelia container and pinging relevant hostnames.
Here is my `docker-compose.yml` if you are interested:
[code]

[2017-09-09 08:37] clems4ever commented on #78
Can you please also post you configuration file?

[2017-09-09 08:53] Rast1234 commented on #78
Sure, i based config on your template:

[config.yml](https://github.com/clems4ever/authelia/files/1289646/config.yml.txt)

[2017-09-09 08:55] Rast1234 commented on #79
Yes, redis has some data and i see new values after each auth attempt.
[code]

[2017-09-09 09:43] Rast1234 commented on #79
Here's relevant log and data for single auth attempt:

Authelia
[code]

Redis (was empty):
[code]
Redis data for all keys:
[code]
Mongo data (was empty too):
[code]

[2017-09-10 12:32] jkaberg commented on #77
@clems4ever how very interesting this one is
[code]
This actully fixed it for me. Do you have any clue as to why we need to set the content length?

[2017-09-10 16:47] clems4ever commented on #77
Hello @jkaberg ,
Glad it helped! I don't have any clue... Just faced the issue and found it in a forum at some point.

[2017-09-10 16:47] #77 closed

[2017-09-17 11:05] SerialVelocity commented on #57
Under what circumstances does this happen? This is a huge security issue usually...

[2017-09-17 11:16] clems4ever commented on #57
Only what is in the config is shown in the logs at startup (LDAP password and session encryption key), not users passwords.

[2017-09-17 11:28] SerialVelocity opened #81 "Support for "Authorization: Bearer xxxxxx" header"
Hey,

I have programs that want access to authed endpoints. It would be good if you could generate tokens which can be set as a header (or maybe a cookie but I think that is less standard).

The header is usually called "Authorization" and the value is usually "Bearer \<token\>".

Tokens for authentication usually consist of:
  - Name. You usually want to know what the token is for.
  - Access res

[2017-09-17 11:45] clems4ever commented on #81
Hello @SerialVelocity ,
Thank you for the proposal! Does this spec comply with any known RFC, draft or any public document? Can you give me an example of program which requires those tokens?
Thanks,
Clément.

[2017-09-17 11:49] clems4ever commented on #78
Hello @Rast1234 , sorry for the late reply. I see a typo in an openldap volume in the docker-compose.

    `/mnt/stuff/docker/openldap/conig:/etc/ldap`

Can it be your problem ?

[2017-09-17 12:16] clems4ever commented on #78
Hello @Rast1234 ,

I now reproduce the issue using the example environment. The error is appearing after I stop the redis container. So I guess there is something wrong with the docker-compose. There seems to be no link between redis and Authelia. Can you try to ping redis from the Authelia container to check?

Thanks,
Clément.

[2017-09-17 12:17] clems4ever commented on #78
In the meantime I'm providing a fix to see the error more clearly in the logs.

[2017-09-17 13:59] SerialVelocity commented on #81
Just from a quick google search, seems like this may be a good place to start for some basic information about tokens:
https://scotch.io/tutorials/the-ins-and-outs-of-token-based-authentication

They recommend JWT tokens at the end but the problem with those tokens is that you can end up with extremely long tokens (which could go over default limits on header length). Your signing key could also b

[2017-09-17 14:38] SerialVelocity opened #82 "Restrict possible authentication methods"
Hey,

It would be nice to be able to configure the two-factor auth that is used. For instance:
  - Just U2F
  - Just TOTP
  - Either

Cheers,
Ben

[2017-09-17 14:44] SerialVelocity commented on #67
+1. This just bit me while trying to test Authelia on my stack.

[2017-09-17 15:28] SerialVelocity opened #83 "In-memory NEDB flag not set properly"
Hey,

While trying to track down the reason why no DB was being written to disk while using local (still not solved, I think I found an issue with the `inMemoryOnly` flag.

It's called `inMemory` here:
https://github.com/clems4ever/authelia/blob/9ac2c808ec259721bf2492ced7b1eb40341c2020/src/server/lib/ServerVariablesHandler.ts#L54

It's called `inMemoryOnly` here:
https://github.com/clems4ever/auth

[2017-09-17 15:42] SerialVelocity opened #84 "Add an "is in group" verification endpoint"
Hey,

It would be great if it was possible to verify whether a user was in a group (similar to your /verify endpoint but for groups instead of users).

#### Use-case
When using software such as rancher/traefik/docker-gen, you try and keep all configuration for that service together.

For instance, you add a label to your docker container for traefik like:
[code]
and that will expose your applicati

[2017-09-17 16:47] SerialVelocity commented on #84
Oh, btw, the way Traefik does authentication from version 1.4 (unsupported before 1.4) is that if it is a 2XX error code, it continues, otherwise it returns the authentication server's response, so to get Traefik working with Authelia, an nginx proxy layer has to be running which converts 401 responses to 302 forwards.

[2017-09-18 13:17] SerialVelocity opened #85 "Flag to return 302 instead of 401 when verifying"
Hey,

It would be great if there was a flag that we could pass to `/verify` so that it will return 302 instead of 401. Usually, app endpoints would return 302 if not logged in, while API endpoints would return 401. NGINX users usually just change 401 error codes to 302s but other apps (like Traefik) just pass on the error if it is not 2XX.

Cheers,
Ben

[2017-09-18 13:20] SerialVelocity opened #86 "Allow specifying default behaviour for subdomains not listed in config"
Hey,

It would be great if there was a flag to either deny or allow non-listed subdomains in config. I want everything to call out to Authelia by default and only ask for people to login to those in the config. I think the valid options for this flag would be:
  - No auth needed
  - Logged in
  - Always deny

Cheers,
Ben

P.S. Sorry for all the feature requests, I'm just trying to dump all of the

[2017-09-19 19:19] clems4ever commented on #82
Hello @SerialVelocity , thank you for the proposal. It makes sense that one would like to use only one method but is it really a blocker, right now? I will implement it if I have other feedbacks saying so.
However, I think that disabling the second factor is another subject and so I will create another ticket.

[2017-09-19 19:20] clems4ever opened #87 "Disable second factor in configuration"
Basically, one would like to use Authelia as a basic auth server with a shiny UI :).
Could be done directly in nginx but the UI would be missing.

[2017-09-19 19:23] clems4ever commented on #86
This is ongoing in #43

[2017-09-19 19:23] #86 closed

[2017-09-19 19:26] clems4ever commented on #85
Hello @SerialVelocity , thanks for the feedback. Actually, Authelia is an authentication server that should reply 'yes' or 'no'. Replying with a redirect seems a bit fuzzy to me. Plus, where would Authelia redirect in that case (what if you have several apps in your domain)?
AFAIC, I think it should only be a matter of config at the level of the reverse proxy.

[2017-09-19 19:33] clems4ever commented on #84
Hello @SerialVelocity, I don't get exactly what you are trying to solve here. Is it the fact that the nginx block is not automatically generated for you or any issue while authenticating some user by his/her group?

Btw, Authelia is not meant to be bound to any reverse proxy so it is expected that Authelia's container does not generate the proxy block for nginx in particular and that you should co

[2017-09-19 19:35] clems4ever commented on #84
Can you please clarify the title and/or split the ticket for treating the issues separately?
Thank you very much for the feedback btw. I'd be glad to know if you already use Authelia in any way?

[2017-09-19 19:50] clems4ever commented on #81
Hello,
My opinion around JWT tokens is a bit mitigated. Here is another interesting post I found a few months ago: http://cryto.net/~joepie91/blog/2016/06/13/stop-using-jwt-for-sessions/. The guy says JWT tokens are for transactions and not for sessions. I'm currently using the implementation of sessions for express. Those are encrypted and not stored on client side. Authelia could then invalidate

[2017-09-19 19:51] clems4ever commented on #83
Hello @SerialVelocity , normally this is tested but I will double check. Anyway, this flag is a dev flag now. I should probably mention it in the config file if not already.
thanks.

[2017-09-20 09:37] SerialVelocity commented on #82
This is only a blocker for me because data isn't being written by NEDB to local storage. So not a high priority like you guessed :)

[2017-09-20 09:40] SerialVelocity commented on #86
@clems4ever Does that ticket include the scenario where users aren't logged in?

[2017-09-20 09:48] SerialVelocity commented on #85
Several apps in one domain would only affect it if you had Authelia under paths on each subdomain (such as wordpress.example.com/auth/, secret.example.com/auth/, etc). Usually Authelia will know where it lives (like auth.example.com).

The main reason why this might be useful is that you can encode the URL in the query parameters so you always get the right address to redirect to.

The main use-ca

[2017-09-20 10:02] SerialVelocity commented on #84
So, it would be nice to have an endpoint like `/verify-group` that just checks you are part of the specified group. This then allows the reverse proxy to handle which services are accessible to which groups rather than having to modify and bounce Authelia. (Maybe `/verify-user` would also be good if I want a service to only be accessible by one user)

Main use-case: Without Authelia, all of my rou

[2017-09-20 10:11] SerialVelocity commented on #81
I agree with JWT tokens aren't the way to go but I thought I'd give you some info about them anyway (that's why I suggested you should go down the randomly generated token strings route :) ).

OAuth would solve the problem but it is also much more complex to implement. It also needs to be supported in every application which means most open source apps now have to have [oauth2_proxy](https://githu

[2017-09-20 10:13] SerialVelocity commented on #83
Yep, don't worry, I'm not using that flag. I just thought I'd _flag_ it to you (pun intended) :)

[2017-09-21 06:33] jkaberg opened #88 "Make Authelia and Traefik play nice"
Forward auth has been implemented in Traefik, which is supposed to be similar too ```ngx_http_auth_request_module``` which Authelia depends on in NGINX.
https://github.com/containous/traefik/pull/1972
https://github.com/containous/traefik/pull/2110

Sample traefik.toml config:
[code]

However Traefik stalls indefinitely when this option is enabled in Traefik and sending forward auth to Authelia. I

[2017-09-21 16:26] SerialVelocity commented on #88
It shouldn't stall but it will return a 401 instead of a 302 that traefik needs. I filed this as #85.

[2017-09-21 20:20] clems4ever commented on #83
@SerialVelocity , you were right, there was a bug, I removed all tests on this flag when I introduced mongo but I've now enforced the correctness of the property with typescript type checking. It that was a bit wonky... Thank you for the ticket.

[2017-09-21 21:00] clems4ever commented on #85
Hello @SerialVelocity , I think there are 2 things in this ticket. I see:
1/ Traefik needs a 302 on /verify to work correctly.
2/ The proxy must redirect the user to correct page after he logged in. (which is already working currently).

So I guess, 1/ could be solved by adding a redirect parameter in the url as you mentionned. If present, Authelia redirects to the provided url or if not present t

[2017-09-21 22:14] SerialVelocity commented on #83
np

[2017-09-21 22:14] #83 closed

[2017-09-21 22:19] SerialVelocity commented on #85
(1) could be solved by a redirect parameter but I think it might be better to specify it in the configuration as it makes it hard to mess up when setting up multiple subdomains, but up to you, I don't really mind either way as long as it is easy to use.

(2) seems a bit iffy since I constantly open and close my browser, so if I have any Authelia pages open, I'm going to lose any referrer headers t

[2017-09-21 22:51] clems4ever commented on #85
(1) I gave a try with Traefik and I'm a bit sad because the forward auth module could only be applied at the level of the entrypoint. So, you can't choose what you will be securing, it's all or nothing... But anyway, I see the issue with the response. So, I'm going to implement the redirect parameter in the url.

(2) You are right. In that case the referrer will be lost. So what you suggest is not

[2017-09-21 22:58] clems4ever commented on #88
Hello @jkaberg , I gave a try to Traefik. This is the first time I use it and I'm a bit unhappy since it only allows you to forward auth requests at the entrypoint level. That means you can either secure everything or nothing...
Btw, I'm still trying to redirect to Authelia login page but I have not made it work so far.

[2017-09-22 06:06] jkaberg commented on #88
@clems4ever yes thats true. You will need to be more precise in the Authelia config file on what you want to protect and not (add more to default group etc.). One add a feature request @ Traefik to allow certain Traefik "frontends" to be protected by Authelia via [labels](https://docs.traefik.io/configuration/backends/docker/#on-containers) (eg. ```traefik.forward.auth=https://auth.domain.tld/veri

[2017-09-22 10:39] SerialVelocity commented on #85
(1) #43 solves that issue where you can say these bits are not authed, etc

(2) Yes, exactly.

[2017-09-22 16:05] clems4ever commented on #85
Hello, @SerialVelocity
(1) True, the tests are missing. I will resume when I have some time.
(2) #91 :)

[2017-09-22 19:10] clems4ever commented on #67
This is done with #89

[2017-09-22 19:10] #67 closed

[2017-09-22 19:12] clems4ever commented on #78
Hello @Rast1234 , I've just merged #89 which will help you understand those problems more easily.
Please close the ticket when you've solved your issue.

[2017-09-22 19:43] clems4ever commented on #65
Closed with #92.

[2017-09-22 19:43] #65 closed

[2017-09-23 10:55] clems4ever opened #93 "Add an exporter to monitor Authelia in Prometheus"
An exporter tracking the regulation system would allow an admin to check if there are lot of brute forces for example.
It would also help with scalability allowing one to estimate the number of Authelia instances required for a given amount of users.
Or also tracking Authelia's performance in realtime for monitoring and alerting purposes.

[2017-09-23 11:05] clems4ever commented on #73
Concerning your previous edit, I would say the window for attacker is much narrower with the identity validation by email than the email as second factor. With validation, once the link is sent and the secret consumed by the user, nobody will ever access without the secret. The email as second factor gives attackers a small window at each login. You see what I mean?

I don't think I will implement

[2017-09-23 14:45] timaebi commented on #87
How about making this configurable per backend application?
I think of a WebDAV calendar server which can not be protected with 2FA because clients don't support 2FA. But it would still be nice to use authelia for the LDAP credentials validation.
On the other hand there are applications that contain more sensible data, where 2FA is required.

We probably also need  step up authentication. What I m

[2017-09-23 14:55] timaebi commented on #8
This would indeed be very helpful.

[2017-09-23 14:59] clems4ever commented on #87
Hello @timaebi, you made a point. This is a totally valid case and it is likely to happen. I will raise the priority of this ticket accordingly.

[2017-09-23 15:00] clems4ever commented on #8
This is the next one on my list. :)

[2017-09-24 08:42] clems4ever commented on #84
Hello @SerialVelocity, I agree that defining specific endpoints for that matter would allow you to handle the access control at the level of the proxy but unfortunately it does not prevent you to change Authelia's config anyway since Authelia needs at least the global domain to create correct session cookies. Isn't it a problem for you?

[2017-09-24 12:06] clems4ever opened #96 "Add a configuration validity check at startup"
As of now, configuration is not deeply checked and some issue might be discovered during runtime.
For example, bad regexp in ACL is not detected at startup.

[2017-09-24 19:55] clems4ever commented on #43
Hello @ColdIce1 ,
I've just merge #95 which will allow you to do what you wanted. Thanks.

[2017-09-24 19:55] #43 closed

[2017-09-24 21:57] clems4ever commented on #8
This is done in #97. It's now merged in mainstream.

[2017-09-24 21:57] #8 closed

[2017-09-25 10:26] SerialVelocity commented on #84
Things like the global domain are unlikely to change and therefore are fine to set in config. Variables like that are usually thought about as constants.

Containers change more often. The main use-case is to centralise the subdomain configuration so when adding a new subdomain you don't need to change NGINX, DNS, auth, etc.

[2017-09-25 11:56] clems4ever commented on #84
I see your point. I will implement a new endpoint where one could combine parameters 'users' and 'groups' in the query.

With nginx, it would give you the same level of granularity for access control as the new embedded per-resource mechanism I merged yesterday (not true for Traefik since the forwarded auth request is a global config applying to all the frontends). So I guess after the new endpoin

[2017-09-26 21:22] clems4ever opened #99 "Add note on basic auth in README"
The basic auth feature is not yet documented in README.

[2017-09-26 21:25] clems4ever commented on #87
This is done with #98. It will be documented in README with #99.

[2017-09-27 15:07] SerialVelocity commented on #87
Hey @clems4ever, I don't think the right approach is to add it as a query parameter (I may be misreading the code though). Imagine this scenario:
  - You have `supersecret.local` that absolutely needs 2FA
  - You get redirected to `auth.local` to login
  - You append `only_basic_auth=true` to the URL because you only know the users password
  - You can login to the account without 2FA.

That seems

[2017-09-27 17:24] clems4ever commented on #87
Hello @SerialVelocity,
The user will be blocked anyway if the app requires 2-factor and even if he provides the flag and set it to true. FYI, the flag is handled by 2 endpoints: "/" and "/verify". The flag provided to "/" is just a helper to redirect the user to the second factor page in one case and to the redirect URL in the other case. If it is provided and set to true for a two factor subdomai

[2017-09-29 15:21] ColdIce1 commented on #43
Hi, sorry I've not been following since I posted this.
Appreciate the update!

[2017-09-30 01:22] khimaros opened #100 "Make notifiers section optional when ALL domains are accessible via single factor"
This would help ease initial testing now that the filesystem notifier has been removed. Alternatively, add the filesystem notifier back.

[2017-09-30 01:23] khimaros opened #101 "Support anonymous lookup in LDAP"
Rather than binding as an administrative user and doing a lookup, allow binding to LDAP using the user DN that is being authenticated.

[2017-09-30 02:04] khimaros opened #102 "Support filtering group query by memberUid"
This requires specifying the username instead of DN, which would require changes to the format string.

[2017-10-02 08:22] clems4ever commented on #100
Hello @sllawap, thank you for the proposal.
Actually, removing filesystem notifier don't change anything since it has been replaced by a fake smtp server that can be queried via a REST API.
I think this proposal is related to #73. Have you seen it already?

By saying "disable notifications", do you mean disable 2nd factor? Indeed, if there is no notification anymore, you won't be able to get the s

[2017-10-02 15:57] sllawap commented on #100
Thank you for your reply!

It's possible that I'm misunderstanding the purpose of notifiers. From reading the config template, it seemed these were only used for registration. If the service owner uses a different registration mechanism, is the notifier still needed?

Is the fake SMTP server built into Authelia or does it require running a separate service? How does one enable/use it in the config

[2017-10-03 17:54] Timinocobar opened #103 "TOTP Authentication fails - debug: POST 2ndfactor totp: TOTP secret is null"
After succesfully implementing first factor authentication (LDAP), i wanted to use Google Authenticator as TOTP authentication.

Scanning the QR-Code was successfull, but the login is still unsuccessfull.
![image](https://user-images.githubusercontent.com/32493542/31140197-fdd5e352-a873-11e7-878f-059fb544e7d0.png)
The following message is written in the log:
_debug: AuthSession is {"first_factor":

[2017-10-03 23:07] clems4ever commented on #103
Hello @Timinocobar , did you deploy Authelia with the provided steps in the README (docker-compose)? Did you change anything in the config?
The use case is very simple and it is tested in Travis for sure. Hence, I'm interested in knowing what involves such a behavior.

Thanks.
Clément.

[2017-10-03 23:11] clems4ever commented on #102
Hello @sllawap , thank you for the proposal but I'm not sure I understood the issue you're trying to solve. Can you please elaborate providing a concrete use case?

[2017-10-03 23:23] clems4ever commented on #101
Hello @sllawap, thank you for the proposal. I see two things in your request:
1/ the "administrative" user should be seen as a "lookup" user. Indeed, Authelia needs it because there is no guarantee a given user has the permissions to lookup in a branch of the tree.
2/ However, password reset needs extended (write) permissions, but you're right, the user should be able to reset his own password ins

[2017-10-03 23:26] sllawap commented on #102
Assume the following:

[code]

I'd like to be able to match in the config:

[code]

Where `{username}` would be replaced by the uid of the user being signed in rather than the full DN.

[2017-10-03 23:28] sllawap commented on #101
It is possible to configure your LDAP server to allow anonymous bind for reads (ie. to check user presence), this is what I'm referring to. This is essentially ldapsearch -x

[2017-10-03 23:33] clems4ever commented on #100
Hello @sllawap, there are two kind of second factor supported in Authelia (TOTP and U2F) and both need the user to register because they both need to define a secret. Notifiers (basically emails as of now) are used to do identity validation. Basically, when you need to register the secret for either of the second factor method, Authelia verifies you are who you claim to be by sending an email  wit

[2017-10-03 23:43] clems4ever commented on #102
I see. I actually was inspired by the configuration of LDAP implemented in Jenkins. But I guess your solution could be a quick win (create a matcher 'username' so that one can choose between {0} and {username}).
Do you have an example of an app allowing such a filter? I'm asking this because I'm more interested in how it would configured than in the feature itself. :).

[2017-10-03 23:53] clems4ever commented on #101
Clear, but you cannot assume anonymous search is allowed on every server either. So, I guess being able to do both would be a good solution to the problem. A proposition could be: if user and password are provided in config then Authelia uses them to do the lookup and if they are not defined, then Authelia could perform anonymous queries.
What do you think?

[2017-10-04 00:25] sllawap commented on #102
I've never encountered a system which expects the full DN to be in the member or memberUid fields. Most use memberUid with flat username.

pam_ldap is probably the most directly applicable:

**pam_ldap**
[code]

nslcd uses the semantics I mentioned with no further configuration:

**nslcd**
[code]

Postfix and Dovecot are older examples and both seem to use the idiom %u:

**postfix**
[code]

**dove

[2017-10-04 00:28] sllawap commented on #100
What you've described makes sense for services which use open registration. How do you anticipate this being used for services where the registration is centrally provisioned?

[2017-10-04 00:30] sllawap commented on #101
Yes, that seems sensible!

As for the bind as user case, this is how Dovecot handles the configuration:

[code]

[2017-10-04 08:58] Timinocobar commented on #103
I am not using docker, I only installed node and npm on a centos 7 vm.
Of course I made some changes to apply the config file to my environment, LDAP and Redis-Servers and so on.

[2017-10-04 09:43] clems4ever commented on #103
I'm really interested in your deployment. Do you have an automated way to reproduce the infrastructure? Vagrant, Ansible, Chef? If yes, please post it or PM? If no, please post the version of Authelia and the configuration you are using.

For your info, the TOTP secret is stored in mongo and it should be in a collection called "totp_secrets". Can you please check there is something there with a CL

[2017-10-04 14:05] manas86 opened #104 "can two factor authentication be added on top of NGINX basic HTTP authentication"
Hi

I have implemented basic HTTP authentication in NGINX using https://www.digitalocean.com/community/tutorials/how-to-set-up-basic-http-authentication-with-nginx-on-centos-7. But I was wondering if I could use 2 factor authentication on top of above basic one. If so, can anyone guide me the right direction to address it .

[2017-10-04 14:25] clems4ever commented on #104
Hello @manas86, if you wish to use Authelia, you won't need the setup you've gone through since Authelia will handle the authentication with login/password as a first factor. Basically, Authelia is the authority for users authentication; it handles both first and second factor. So, there is not much configuration to be done at the level of nginx since nginx will only use the **auth_request** modul

[2017-10-06 21:58] clems4ever commented on #79
Hello @Rast1234 , I'm sorry, I totally missed it. Have you found the solution to your problem?

[2017-10-06 21:59] clems4ever commented on #88
Hello @jkaberg , make Authelia work with Traefik is a bit more complicated than I expected unfortunately. I have not succeeded yet.

[2017-10-06 22:06] clems4ever commented on #100
Hello @khimaros , actually this is not a user registration. Username and password should already be in the LDAP. This procedure is just a layer of security. Imagine, someone finds your password, the hacker can login and then, without identity validation, he would be able to change your secret and pass the second factor.

Concerning your question, I'm not sure I got the point. Can you please clarif

[2017-10-07 08:51] jkaberg commented on #88
@clems4ever I'm not 100% sure but I think this depends on https://github.com/containous/traefik/pull/2127

[2017-10-07 09:36] #73 closed

[2017-10-07 09:37] clems4ever commented on #78
Hello @Rast1234 , any news?

[2017-10-07 09:45] clems4ever commented on #101
Thank you for the example! It's very clear.

[2017-10-07 12:25] clems4ever commented on #102
Hello @khimaros , finally I ended up with {0} replaced by the username instead of the user DN. It makes it more flexible for user to user either the username or the DN since both can be computed from the username.
It's merge in mainstream #106 .

[2017-10-07 12:25] #102 closed

[2017-10-07 12:34] clems4ever commented on #104
Hello @manas86, did it answer your question? Can I close the ticket?

[2017-10-07 15:13] aaomidi opened #107 "Authelia as single factor auth"
Hi!

Is it possible to use authelia as a single factor authentication model where the only factor is TOTP?

[2017-10-07 16:01] clems4ever commented on #107
Hello @aaomidi, nop, Authelia does not support TOTP as single factor. Sorry.

[2017-10-07 16:01] #107 closed

[2017-10-07 16:16] n4kre opened #108 "Not redirected to the “already logged in” page"
Hi,

Upon successful login, if I visit the login page again, I am prompted for my credentials: shouldn't the “already logged in” page be displayed instead?

Note: Not related to this issue, but the images within the green/redish notification frames are not properly displayed – it's not worth opening a new issue for it, I guess.

[2017-10-07 16:20] n4kre opened #109 "TOTP URL: custom issuer and label"
Hi,

I see you are using Speakeasy to generate TOTP secrets and URL. It would be great to support customized “label” and “issuer” options, in Authelia's YAML configuration file?

[2017-10-07 16:22] n4kre opened #110 "TOTP form: disable autocompletion"
Hi,

Autocompletion is enabled in the second factor submission form: it does not make sense, I guess, right?

[2017-10-07 16:25] n4kre opened #111 "Custom mail sender"
Hi,

It would be great to be able to customize the mail sender in Authelia's YAML configuration file, for notifications.

[2017-10-07 16:26] clems4ever commented on #108
Hello @n4kre, the behavior has changed since #98. Indeed, this PR gives a way to enable only basic authentication for certain domains.
The thing is, it makes no sense to say that a user is already logged in anymore since the user can now be logged in on subdomain 1 which supports basic auth and not logged in on subdomain 2 because it support 2-factor and it has not been validated yet. Make sense?

[2017-10-07 16:29] clems4ever commented on #109
Hello @n4kre, I don't see anything on labels and issuers in the Speakeasy documentation. Do you know how to customize such things?

[2017-10-07 16:33] n4kre opened #112 "Images within the green/redish notification frames not properly displayed"
Hi,

The images within the green/redish notification frames are not properly displayed.
Tested with the latest releases of Apple Safari (desktop and mobile) and Google Chrome (desktop).

![untitled](https://user-images.githubusercontent.com/14371127/31309884-c6aa5ddc-ab5b-11e7-8315-8c9f3d2cf323.png)

[2017-10-07 16:34] clems4ever commented on #110
Hello @n4kre , you are right, it does not make any sense. I will have a look on how I can fix it. Thank you.

[2017-10-07 16:36] clems4ever commented on #111
This one is easy to implement. Thank you for the request.

[2017-10-07 16:37] n4kre commented on #109
I have searched for “label”, “name” and “issuer” on the description page of https://github.com/speakeasyjs/speakeasy and I thought it may be possible.

[2017-10-07 16:38] n4kre commented on #110
I guess `<input autocomplete="off" type="text" class="form-control" id="token" placeholder="Token" required autofocus>` in the second facor view would be enough – you may check.

[2017-10-07 16:39] clems4ever commented on #109
You are right, I see it in the README. Thanks.

[2017-10-07 16:45] clems4ever commented on #112
Do you use docker or npm? I don't reproduce on my dev station.

[2017-10-07 16:49] n4kre commented on #108
I get your point.
Thing is it's a bit hard to know for the user whether it's logged in – and where – or not, and not very intuitive to log out – in case it is already logged in.
Maybe it would be a good idea to add a “Logout” button on the login page if the user is already logged in?

[2017-10-07 16:50] n4kre commented on #112
I have my own LDAP and Redis instance, I have used NPM (+ Nginx configuration based on your example).

[2017-10-07 16:54] n4kre opened #113 "Support custom theme in the client"
Hi,

it would be quite a nice enhancement to be able to configure Authelia so that specific icons, title, text, email template, etc. are used instead of the default ones.

[2017-10-07 16:56] n4kre opened #114 "Redis and MongoDB authentication"
Hi,

Is it possible to support Redis and MongoDB authentication?
From a security point of view, I guess it makes sense.

[2017-10-07 17:00] clems4ever commented on #108
Yes, it has always been a bit bad not to know wether you're logged in.

Adding a "logout" button is a good idea but my problem is I can't tell whether I should display it or not because as I said previously there is no way for Authelia to tell if the user is logged in. Indeed, within the authentication portal, Authelia knows if the user has passed first factor and second factor but there is no way

[2017-10-07 17:02] clems4ever commented on #113
Hello @n4kre , it would be great, indeed! Clearly a nice to have.

[2017-10-07 17:04] clems4ever commented on #114
You are clearly right. Authelia should handle protected endpoints.

[2017-10-07 17:05] clems4ever opened #115 "Use encrypted connection to LDAP"

[2017-10-07 17:08] n4kre commented on #112
I have only used NPM (+ Nginx configuration based on your example).

Here is my Nginx config:
[code]

[2017-10-07 17:09] n4kre commented on #112
I have only used NPM (+ Nginx configuration based on your example).

Here is my Nginx config:
[code]

[2017-10-07 17:11] n4kre commented on #112
Note `include authelia_params;` refers to:

[code]

[2017-10-07 17:58] n4kre opened #116 "authentication_traces: second factor authentication (and IPs) not logged"
Hi,

If I'm not mistaken, the second factor authentication is not logged.
Maybe it would be a good idea to replace “isAuthenticationSuccessful” by two distincts fields – one for each factor.
What's more, logging IP addresses would also be interesting, both for log analysis/forensics in a SIEM. and to trap bruteforce attempts.
My point is that bruteforce prevention could also be based on the origin

[2017-10-07 18:07] n4kre opened #117 "SMTP credentials are logged, even with a log level > debug"
Hi,

I guess you have forgotten to remove `console.log(smtpOptions);` in `SmtpNotifier.ts`, resulting in the logging of SMTP credentials regardless of the log level.

[2017-10-07 18:59] n4kre opened #118 "Some hardening?"
Hi,

A quick vulnerability scan from Acunetix reveals that Authelia *seem* not to be protected against CSRF.
An interesting article about how to implement an anti-CSRF feature with Express: https://medium.com/node-security/cross-site-request-forgery-mitigation-for-express-js-apps-made-easy-using-the-same-site-cookie-flag-e19ee7d5b513

P.-S.: What's more, during the Express server setup, `app.disab

[2017-10-07 19:36] n4kre commented on #112
Okay, I think I got it. In `authelia.js`, one can read the following:
[code]
However, even though the `img` directory is present, this so called `notifications` subdirectory is missing, hence the bug.

[2017-10-07 19:45] clems4ever commented on #116
Nice! Good idea to use fail2ban to prevent bruteforce. I will definitely put it in the README.

[2017-10-07 19:49] clems4ever commented on #117
I've just made a hotfix. It will be merged in few minutes. Thanks.

[2017-10-07 19:53] clems4ever commented on #118
Hello @n4kre , thank you for the heads up on security. I'm not expert in the domain so it's very helpful. I will definitely dig into it following your comments.

Thank you very much for the compliment. Your comments are very useful as well!

[2017-10-07 19:57] clems4ever commented on #112
oh ok, I see the bug! Thank you very much for the troubleshooting. It was so helpful! Awesome!

[2017-10-07 20:06] #104 closed

[2017-10-07 20:09] clems4ever commented on #88
@jkaberg , indeed this is the problem I had while testing...

[2017-10-07 20:11] clems4ever commented on #117
#119 fixes the issue. Thank you for the reporting.

[2017-10-07 20:11] #117 closed

[2017-10-07 20:14] clems4ever commented on #112
#120 should fix the issue. I will release a patch for this.

[2017-10-07 20:28] #112 closed

[2017-10-07 20:29] clems4ever commented on #103
@Timinocobar , did you have time to check?

[2017-10-07 20:37] n4kre commented on #110
Detail: once the form is submitted, it would be nice to clear content of the TOTP field – upon failed login, the user thus wouldn't have to clear it “manually” before it tries again; upon successful login, it just looks weird.

[2017-10-07 20:52] n4kre opened #123 "Add “soft“ session timeout"
Hi,

Currently, Authelia seems to only support “hard” timeout: whatever the user (in)activity, its session expire following the `expiration` parameter provided in Authelia's YAML configuration file.
It would be nice to add an other parameter to support “soft” timeout.

E.g.: whatever happens, the user gets disconnected after the hard timeout (current behavior), *and* also in case it is inactive fo

[2017-10-07 23:44] n4kre opened #124 "Cookie theft"
Hi,

As of now, Authelia is likely vulnerable to session cookie theft via XSS – *cf.* [here](https://en.wikipedia.org/wiki/HTTP_cookie#Cross-site_scripting:_cookie_theft).
A simple mitigation would be to set the `HttpOnly` attribute to the session cookie. This can be achieved through the addition of `httpOnly: true` in the cookie option, in `SessionConfigurationBuilder.js`.

**Note**: Ensuring the

[2017-10-08 00:05] n4kre commented on #124
On Authelia login page, I would also recomment the following headers, for security purposes – make sure to read what each of them does:

[code]
(Nginx snippet)

**Note**: If you want some “privacy” for your login page, `add_header X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";` is a good idea.

[2017-10-08 01:19] n4kre commented on #124
**Important note about my last post**: The `Content-Security-Policy`, as is, prevents Authlia from working; configured in this way, only the content from the same origin should be allowed by the client web browser. You should therefore whitelist in this directive the other origins from the required contents.

[2017-10-08 07:14] masau commented on #111
Related: The hard-coded from address currently prevents zoho email (and presumably others) from being used, it returns "553 Relaying disallowed as authelia@authelia.com", so this would be very nice.

[2017-10-08 11:40] masau opened #126 "Verification failing with "cannot read property of 'admins' of undefined""
I get this error when authelia tries to verify after successfully authenticating.
My ldap server is freeipa running on centos. Authelia is from npm and is running on arch linux along w/ the nginx server. "admins" in the error is definitely referring to the ldap group - when I take my user out of the admins group I get the same error with "server_admins" instead.

Error w/ context:
[code]

Nginx se

[2017-10-08 12:16] masau commented on #126
Found my problem - I deleted the groups section of access_control in config.yml which caused 'that.configuration.groups' to be undefined. More or less the same thing happens if the users section is deleted.

https://github.com/clems4ever/authelia/blob/15374f39d1ffb5979b31eade455420958517a358/server/src/lib/access_control/AccessController.ts#L78

[2017-10-08 12:22] clems4ever commented on #126
Hello @masau, thanks for the troubleshooting. Indeed, this access is not protected. I will provide a quick fix for it. Thank you so much.

[2017-10-08 12:24] clems4ever commented on #124
I will definitely try those headers and try to reproduce the issue.
Thank you so much @n4kre.

[2017-10-08 12:32] clems4ever commented on #126
I will make Authelia resilient if you remove those keys and I also had in mind to create a configuration checker executed at startup so that one can find any issue with configuration very early.

[2017-10-08 15:31] clems4ever opened #128 "Remove GMail notifier from available notifier options"
Gmail has been removed from the nodemailer API. It makes no sense to keep it anymore in Authelia since SMTP is now implemented.

[2017-10-08 15:32] clems4ever commented on #126
Hello @masau , it is now fixed with #127. Every key in access_control is now optional and replaced by a default value if not provided. That way, Authelia always have a complete configuration to work with.

[2017-10-08 15:32] #126 closed

[2017-10-08 16:34] clems4ever commented on #116
You are right, second factor is not logged because I think the biggest threat is at first factor step.  But yes, it can be safer to regulate on second factor as well and that's why I put low priority on this issue.

For the IP part, I think Fail2ban is a better solution than implementing something at Authelia's level since it allows Authelia not to handle all the pressure of a DDOS from the same I

[2017-10-08 20:50] clems4ever commented on #57
Treated in #125. Merged in mainstream.

[2017-10-08 20:50] #57 closed

[2017-10-08 21:00] n4kre commented on #116
I totally agree with you: dedicated solutions like Fail2Ban should handle this, not Authelia.

However, to “feed” solutions like Fail2Ban, “accurate” log files are required, to minimize the number of false positives or false negatives. Therefore, relying on Nginx log file is definitely not the best option, for at least three reasons:
• in case the Nginx server providing access to Authelia's backen

[2017-10-08 23:28] clems4ever commented on #116
Hello @n4kre ,
I see your points and I have a good news for you. I improved the logs with #125. Now we can clearly track a session, a request and an IP since each of them are now logged for each log message. I think it will help fail2ban to track potential attackers.
Login attempts are not yet logged though but I can definitely do it. I'll update the thread once done.

Thanks.

[2017-10-08 23:33] masau opened #132 "500 Internal Server Error on json post"
So I have an nginx proxy set up as a portal that forwards traffic to different web servers based on domain name. On each web server, I've got another nginx proxy that handles https and then forwards traffic onto the actual web server (which may be running on any number of web servers). I have it set up this way primarily to standardize configuration so that I can maintain servers via saltstack.

A

[2017-10-09 00:15] clems4ever commented on #132
Hello @masau , you tried to post the same JSON data from to the two layers and one is working and the other is not, correct? Can it be a conflict between headers (overridden by apps while going through the layers)? Authelia is writing **Remote-User** and **Remote-Groups** for example.
I think Authelia's logs might help a bit, please set the level to debug.

[2017-10-09 00:18] n4kre commented on #132
Hi @masau,
Have you tried with `proxy_set_header Content-Length "";` in the `/auth_verify`  Nginx location block?

[2017-10-09 00:26] n4kre commented on #132
From Nginx [documentation](https://www.nginx.com/resources/admin-guide/restricting-access-auth-request/):

[2017-10-09 00:30] masau commented on #132
@clems4ever - It was going through both layers in both cases, the only difference was where I included the authelia configuration. When it was directly in the teampass server block it worked, but when it was in either of the proxies it would not. It was the same data. n4kre's suggestion resolved the problem - do you still want me to set authelia's log level to debug and send you logs?

@n4kre - th

[2017-10-09 00:31] clems4ever commented on #111
Hello @masau , I will definitely raise the priority of this one. It's easy to fix. I'll keep you posted.

[2017-10-09 07:04] clems4ever commented on #132
@masau, great you solved it! No need to send the logs anymore. Thanks.

And thank you @n4kre.

[2017-10-09 12:07] clems4ever commented on #108
Hello @n4kre , #131 will fix this issue. The behavior will consequently be the following:
- If user has already validated first factor, when accessing the login page he is redirected to second factor page unless he tries to access a domain (based on redirect query parameter) protected by basic auth or no "redirect" is provided or he has already validated second factor.
- If user has already valida

[2017-10-09 13:43] n4kre commented on #108
Sounds really good! Thank you @clems4ever

[2017-10-09 14:06] n4kre commented on #116
Thank you @clems4ever!

As you suggest, It would be nice to be able to track login attempts, maybe in a less verbose way (for a log level greater than or equal to `info`) – e.g., `<Date> - <IP> - <Username> - <Password|TOTP|U2F> validation: <success|failure>` –, and in to a dedicated log file, which path is customizable in Authelia's configuration file.

[2017-10-09 15:32] n4kre opened #133 "Usernames enumeration"
Hi,

As of now, Authelia's login page respond to failed login attempts with a redish notification stating `Authentication failed. Please double check your credentials.`: this is good.
On the other hand, the HTTP status code that is sent back to the client differs based on whether authentication failed due to non-existing user (`500`) or failed pasword (`401`): an attacker can therefore enumerate v

[2017-10-09 15:40] n4kre commented on #133
By the way, just wondering: are credentials “sanitized” in some way before getting processed?
I have not dug into it; I was just thinking that they are somehow used in an LDAP query: it would be safer to ensure that the so called query does actually what it is meant to.

[2017-10-09 17:39] clems4ever commented on #133
Unfortunately, they are not sanitized and query injection is a possible attack, I guess. What do you recommend to avoid it? Accepting only few characters?
Thanks,
Clément.

[2017-10-09 19:38] n4kre commented on #133
I open a new issue, since it is not related to the one from this thread.

[2017-10-09 20:00] n4kre opened #134 "LDAP injection"
Hi,

As suggested in issue #133, Authelia is likely vulnerable to LDAP injection, since inputs are not sanitized – maybe the `ldapjs` module already does it?
*Any* input that can be controled by the users or external parties should be sanitized – easy to say, I guess…

From the [OWASP recommendations](https://www.owasp.org/index.php/LDAP_Injection_Prevention_Cheat_Sheet#Defense_Option_1:_Escape_al

[2017-10-09 21:06] n4kre opened #135 "Security of 2FA enrollment process may be improved."
Hi,

Let's assume the following scenario to illustrate the risk refered by this issue's title and explain how this may ruin the security benefit of 2FA.

- An attacker manages to steal valid credentials.
- The victim uses the same password to access his e-mail service.
- The attacker uses these credentials access the victim's e-mails.
- The attacker can enroll his own device as a 2nd factor to Aut

[2017-10-09 21:18] clems4ever commented on #134
There is definitely something to be done to secure Authelia on this part. I put a high priority.

[2017-10-09 21:23] clems4ever commented on #135
You are right, this scenario is clearly plausible. Thank you very much for the detailed description of the use case.
And yes, the IP and geo-location is a good idea to put in the email anyway. I don't know how to get the geo-location, though. I will have a look.
Thank you very much.

[2017-10-09 21:26] n4kre commented on #133
To get back to usernames enumeration (well, input sanitization too), the same applies to the password reset page: an HTTP status `500` is sent back to the client upon submission of a non-existing username. The response that is sent back to the client should be identicial regardless the the usename validity: a small notification saying something like “Your request has been sent. If you don't receiv

[2017-10-09 21:26] clems4ever commented on #133
For the username enumeration I had in mind to always return 200 (for all requests sent from frontend) with a JSON containing an error message. Error message would be the same when credentials are wrong or user does not exist. Would that be ok?

[2017-10-09 21:28] #132 closed

[2017-10-09 21:28] clems4ever commented on #108
Hello @n4kre , I merged #131. It implements what I described earlier.

[2017-10-09 21:28] #108 closed

[2017-10-09 21:28] n4kre commented on #116
In the same way, logging password reset and second factor registration request is a good idea – to prevent bruteforce and thus avoid mailboxes from being floode (potentially resulting in a denial of service).

[2017-10-09 21:29] clems4ever commented on #99
Done in #131

[2017-10-09 21:29] #99 closed

[2017-10-09 21:35] n4kre commented on #133
As explained in my previous post, the point is to give relevant information to the user but without making the slightest distinction between between failed password / non existing username (login attempt) / existing username (password recovery). Hopefully, this only applies to what is sent back to the client – not to what is logged.

[2017-10-09 21:58] clems4ever commented on #110
Already merged in mainstream.

[2017-10-09 21:58] #110 closed

[2017-10-09 22:01] clems4ever opened #136 "Add a way to invalidate a registration token from the received email."
Add a link at the bottom of the email to invalidate the token if the user does not recognize the email he has received.

[2017-10-09 22:01] n4kre commented on #108
Bonsoir Clément,

Encore merci pour tout ce que tu fais : ton projet Authelia est top !
Je suis content de pouvoir y “contribuer” légèrement, à ma manière – je ne suis pas développeur, mais la cybersécurité m’intéresse beaucoup.

À très vite sur Github – c’est d’ailleurs un peu artificiel de se parler anglais, mais la norme est ainsi –, ou à Atlanta, si tu es de passage dans la région avant la fin

[2017-10-09 22:18] n4kre commented on #135
There are various “geoip” packages. Maybe [this one](https://github.com/runk/node-maxmind) would be suitable.

Thank you!

[2017-10-10 09:15] jmccoy555 commented on #135
Hello all.
It's great to see such active development here, thanks to all.
My use case for Authelia is to actually beef up the security of my webmail (SOGo) and other web apps when accessing from an external network. So it would be good to keep this authorisation mechanism optional, or only implement when accessed from external or a certain list / or not of IP networks?
Actually, not wanting to hij

[2017-10-10 21:10] clems4ever commented on #111
Hello @masau , @n4kre , I've just merged #137 that allows you to define a sender for both gmail and SMTP notifiers. Please see the configuration template for details. Thanks.

[2017-10-10 21:10] #111 closed

[2017-10-10 21:11] clems4ever commented on #96
This is done in #137

[2017-10-10 21:11] #96 closed

[2017-10-10 22:26] clems4ever opened #138 "Is it possible to pass through the user credentials for true SSO with back end applications"
From @jmccoy555: I was wondering if it is / will be possible to pass through the user credentials for true SSO with back end applications, although I think this may require Authelia to support SAML?

[2017-10-10 22:27] #138 closed

[2017-10-10 22:28] clems4ever commented on #135
Hello @jmccoy555 , I'm in the same case as you. I'm securing some web apps and I'm pretty much the only user accessing those services. Thus, such a mechanism is a bit overkill for my use case indeed. But I clearly see the point of @n4kre when you are in an organization when you don't control everything. I will try to find a good way to implement this feature and a way to opt-in the feature.

Conce

[2017-10-11 08:42] jmccoy555 commented on #135
Hi @clems4ever , I can certainly appreciate @n4kre use case, and his insight is particularly interesting for someone like me that with little knowledge on this subject; and is certainly making me think!!

Thanks both.

[2017-10-11 08:44] jmccoy555 commented on #138
Hi @clems4ever did you still want me to open on for this (with a bit more detail), or is it closed as you don't think it will be possible?

Cheers.

[2017-10-11 16:25] clems4ever commented on #138
Hello @jmccoy555, I wanted to see if I was able to create a ticket and put you as reporter but I can't. Can you please open a new one?
Thanks.

[2017-10-11 16:33] clems4ever commented on #133
I'm currently reviewing every responses that is sent from Authelia. For authentication and password reset the response will always be 200 (since the service is responding correctly) but there will be an error message in the JSON body and this message will be the same for technical errors (connection problems, bugs) and functional errors (user does not exist, bad authentication). That way, an attac

[2017-10-11 17:49] jmccoy555 opened #139 "Add support for SSO credentail pass through"
When Authelia is used to provide 2FA to enhance the security of other web apps it would be nice for the user credentials to be passed through to avoid the user from having to login twice.

A possible solution for achieving this would be for Authelia and the backend web app to support SAML 2.0, for example;

https://docs.nextcloud.com/server/11/admin_manual/configuration_server/sso_configuration.ht

[2017-10-12 00:24] n4kre commented on #133
Hello @clems4ever,
For now, I won't have much free time to experiment this, but it sounds indeed very good!

[2017-10-12 20:57] #128 closed

[2017-10-13 02:51] Ellipsiss opened #141 "No available notifier option detected"
Hi there

I have just tried to install / run authelia in docker. It seems to be loading my config file fine (as it shows in the logs) but then this error occurs when starting

[code]

Any idea how to solve this? Thanks!

[2017-10-13 08:53] clems4ever commented on #141
Hello @Ellipsiss, as stated in the stack trace, your problem seems to be a malformed config file. Can you gist it?

[2017-10-13 08:58] clems4ever commented on #139
Hello @jmccoy555 , Authelia passes username and groups to apps using **Remote-User** and **Remote-Groups** HTTP headers. Such mechanism is supported in applications like Jenkins for example.
What's your backend app? Is it home-made?

[2017-10-13 13:00] jmccoy555 commented on #139
Hi @clems4ever

For starters I would like to get it working with SOGo. Following your pointer I have discovered that SOGo would appear to support this method;

How to use WebAuth with SOGo?
When using proxy-side authentication, you must adjust your proxy or front server accordingly and ensure that the "x-webobjects-remote-user" HTTP header is passed to SOGo. With Apache, this is done by using the

[2017-10-13 22:30] Ellipsiss commented on #141
Sure thing. Thanks for replying so quickly

https://pastebin.com/YPcmEx1z

[2017-10-14 10:23] clems4ever commented on #133
Should be fixed with #140 . Thanks @n4kre .

[2017-10-14 10:23] #133 closed

[2017-10-14 10:23] clems4ever commented on #9
Treated with #140

[2017-10-14 10:23] #9 closed

[2017-10-14 10:31] clems4ever commented on #141
@Ellipsiss , I see two problems at first glance.
1/ you enabled two notifiers while only one will be used. I will clarify the usage in the config.template.yml.
2/ Your yaml is malformed. There are 3 spaces at the beginning of **gmail** object and 2 at the beginning of the **filesystem** object. This lack of consistency explains why you had the **"Indentation problem"** error message.

[2017-10-14 11:22] jmccoy555 commented on #139
A bit more investigating. If I set the header to my username manually then I can log in through Authelia;

proxy_set_header x-webobjects-remote-user james;

But this will obviously log every user in as me!! So it looks like the issue I'm facing is how to get the username back from Autherlia into the header.

Has this always been implemented, or maybe I need to update to the latest version?

Thanks

[2017-10-14 11:46] clems4ever commented on #139
Hello @jmccoy555 , look at how it's done in the example/nginx/nginx.conf
I retrieve the username from Authelia by reading **$upstream_http_remote_user** and transform it before sending it to the backend with the following two lines:
[code]
Replace **X-Forwarded-User** with your own header and it should work.

[2017-10-14 11:59] jmccoy555 commented on #139
Hi @clems4ever thanks for you reply. I'm half glad you said this as it would appear logical, and something I have tried, but no luck with;

        auth_request_set $user $upstream_http_remote_user;
        proxy_set_header x-webobjects-remote-user $user;

Just double check I tried;

        auth_request_set $user james;
        proxy_set_header x-webobjects-remote-user $user;

and that obviously

[2017-10-14 12:03] clems4ever commented on #139
Hello @jmccoy555, I will try to reproduce on master and see if there is a bug. Unfortunately, this feature has not been very much tested so far. I'll keep you posted in few minutes.

[2017-10-14 12:10] jmccoy555 commented on #139
Super, thanks @clems4ever

I have discovered the way SOGo works is that if it is given the header then it tries to use it to authenticate, if successful it logs you in, if not you get an unauthrosied screen. If no header is passed then it takes you to the usual SOGo login screen.

As before if I set the header to my name, I get logged in (well sort of IMAP moans about a password issue, but that's

[2017-10-14 12:15] clems4ever commented on #139
Ok, everything is clear now. Thanks for the investigation!
I'm currently adding an integration test for this use case and I'll see how it goes.

[2017-10-14 12:31] clems4ever commented on #139
@jmccoy555 , unfortunately it seems to work at head... I plugged httpbin (https://httpbin.org/) as a protected backend and use **/headers** endpoint to check what were the headers and they seem to be correctly filled with username and groups.

What version of Authelia are you using?

[2017-10-14 12:41] clems4ever commented on #139
Can you please post your nginx config?

[2017-10-14 12:57] jmccoy555 commented on #139
Thanks for trying. I'm using a docker version from a couple of weeks ago, before the ACL and other new features got implemented. I haven't had time to update my config to try with a newer version. I was hoping to try this weekend.

Anyway, here's my nginx config.

 server
   {
        listen     443 ssl;
        server_name mail.my.domain;

        ssl_certificate /path_to_my/fullchain.pem;

[2017-10-14 13:37] clems4ever commented on #139
LGTM. Can you post Authelia's logs?

If you want to try with httpbin, you just have to use **citizenstig/httpbin** docker image and copy your SOGo block and replace
`location ^~/SOGo {` by `location /headers {`
and
`proxy_pass http://10.10.1.105:20000;` by `proxy_pass http://<name_of_http_bin_service or IP>:8000/headers;`

Note: make sure your httpbin container is in the same virtual network as ng

[2017-10-14 14:03] jmccoy555 commented on #139
I'll give that a try.

In the mean time here's the log. I restarted and then tried to log in once.

Parse configuration file: /etc/authelia/config.yml
Log level =  debug
debug: Content of YAML configuration file is {
  "port": 80,
  "logs_level": "debug",
  "ldap": {
    "url": "ldap://10.10.1.101:389",
    "base_dn": "dc=domain,dc=lan",
    "additional_users_dn": "cn=users",
    "users_filter": "

[2017-10-14 14:14] jmccoy555 commented on #139
Checked headers;

with
        auth_request_set $user $upstream_http_remote_user;
        proxy_set_header x-webobjects-remote-user $user;

{
  "headers": {
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
    "Accept-Encoding": "gzip, deflate, br",
    "Accept-Language": "en-US,en;q=0.5",
    "Cache-Control": "max-age=0",
    "Connection": "close",
    "Cookie": "c

[2017-10-14 14:48] jmccoy555 commented on #139
Updated to v3.5.0 and now Authelia is passing thought the header, but my group membership is no longer working - debug: LDAP: groups of user james are

But I can close this one, unless you'd like any more info?

[2017-10-14 16:28] clems4ever commented on #139
Hello @jmccoy555 , that's great!

Can you please publish your new configuration? It's likely to be due to LDAP configuration since, it has changed lately. Some users wanted to have something more customizable for supporting their LDAP architecture.

[2017-10-14 17:50] jmccoy555 commented on #139
Hi @clems4ever thanks for all your help.

Looking at #106 I think you're right.

I setup Zentyal (a long time ago, kind of regretting it these days) as my LDAP server. When you add a user you specify a username, which is assigned as the sAMAccountName and user part of the email, and also Firstname and Surname which it then combines to make the user cn = Firstname Surname, resulting in a dn of cn=F

[2017-10-14 18:42] clems4ever commented on #139
Ok, I see the issue. You should replace your **groups_filter** with the following:
`groups_filter: (&(member=cn={0},ou=users,dc=example,dc=com)(objectclass=groupOfNames))`.

`{0}` is now replaced by username instead of user DN. Indeed, this was blocking for a user at some point because he had an attribute set to username instead of user DN. And since user DN can be rebuilt from username, I decided

[2017-10-14 19:25] jmccoy555 commented on #139
No luck unfortunately. Authelia does look to be retrieving the full and correct dn though. The logs look quite different between the two versions, although I suspect that's because of changes to Authelia.

Shall I open a new issue or add to #106?

[2017-10-14 21:52] clems4ever commented on #139
Hello @jmccoy555 , it took me some time to understand the issue but I think I got it now. Given your current organization in the LDAP, Authelia is not able to compute the user DN from the username only to retrieve the groups, correct? If so, please create a new ticket since #106 is already merged.

FYI, the logs indeed changed a lot between the two versions because I wanted to improve tracking use

[2017-10-14 23:55] clems4ever commented on #101
I figured that a user cannot reset its own password because the password reset feature is mainly used when the user lost his password.

So, eventually the admin user should have the rights to update passwords of users, meaning it MUST exist in configuration. However configuration should allow anonymous lookup as discussed before. To do that, I will add a boolean called **anonymous_lookup** that wi

[2017-10-15 03:03] n4kre opened #145 "Indicate browser incompatibility with U2F"
Hi @clems4ever,

For an improved U2F user-experience – well, it's about the economy of single click; but most users are reluctant to 2FA because “it's an extra step I'll have to do every time I wanna log in, I hate security guys, they're p*ssing me off”, and that's why I think it's important for Authelia to be as user-friendly as possible –, do you think it would be possible to have a unified seco

[2017-10-15 03:33] n4kre commented on #135
About the second factor enrollment: from my observation, since only one TOTP secret can be registered per user – I guess this holds true for U2F tokens? Anyway, this is very good not to allow multiple TOTP secrets or U2F tokens to be associated to the same user –, the behavior that I have suggested in [this post](https://github.com/clems4ever/authelia/issues/135#issue-264026347) also let the admin

[2017-10-15 08:37] #139 closed

[2017-10-15 08:50] jmccoy555 opened #146 "Authelia can not build a user's distinguised name"
Hi @clems4ever

Since implementing the new group filter whereby Authelia now attempts to build a user's distinguished name from parts there is an issue when a user's username is not a component of their distinguished name.

e.g. user Joe has a username joe and a cn of Joe Blogs, resulting in a dn of cn=Joe Blogs,ou=users,dc=example,dc=com

When Joe logs in to Authelia with his username joe she bui

[2017-10-15 11:34] clems4ever commented on #146
Hello @jmccoy555 , I will provide you with a fix in few minutes. Thank you so much again for the time you spent before finding the issue! I'll keep you posted.

[2017-10-15 11:41] clems4ever commented on #134
Hello @n4kre , #143 should protect against LDAP injection attacks. The sanitizing is done in the component that is sending the requests to the LDAP, the layer wrapping ldapjs.

For passwords, I need to dig a bit deeper though. I did not want to use SSHA at the beginning but unfortunately SHA-512 was not working with the version of openldap i'm using (don't know why).

I will keep this ticket open

[2017-10-15 11:51] clems4ever commented on #145
I love your mockups! Particularly the 2 icons to get Google Authenticator, that's awesome.

For the UX, you are right, faster is better. Not requiring the user to click anywhere before authenticating is hopefully a good thing.

At some point I had in mind to give the user a way to define his preferred authentication method so that when he arrives on the second factor page this method is used by de

[2017-10-15 13:17] clems4ever opened #148 "Add a default redirection URL to configuration file"
If the user goes to authelia with no referer and he authenticates, he is not redirected at the end of the process since Authelia does not know where to redirect him.

Adding a 'redirect' option to the configuration would solve this problem.

[2017-10-15 13:42] clems4ever commented on #103
Please reopen the ticket if needed.

[2017-10-15 13:42] #103 closed

[2017-10-15 13:42] clems4ever commented on #141
Hello @Ellipsiss , have you solved your issue?

[2017-10-15 13:43] clems4ever commented on #79
Please reopen the ticket if needed.

[2017-10-15 13:43] #79 closed

[2017-10-15 13:44] clems4ever commented on #78
Please reopen the ticket if needed.

[2017-10-15 13:44] #78 closed

[2017-10-15 14:05] jmccoy555 commented on #146
All fixed. Thanks :)

[2017-10-15 14:05] #146 closed

[2017-10-15 14:05] clems4ever commented on #146
Hello @jmccoy555 , my release model was not very good so far. I wanted to do a one-off version only containing the fix you need but given what I have now I need to create a new **release** branch for this specific patch. I would like to avoid that to not have plenty of release branches. Do you mind if I release your fix with the latest fixes already in master (the configuration might break, but no

[2017-10-15 14:06] clems4ever commented on #146
On which branch are you? master?

[2017-10-15 14:08] jmccoy555 commented on #146
Yes, just pulled the docker image with master tag, about an hour since last build.

Will this go to a specific version soon?

[2017-10-15 14:23] jmccoy555 opened #150 "Use SMTP notifier without username and password"
Hi @clems4ever (sorry for keeping you busy!!)

My SMTP server does not require a username or password, however if left black Authelia will not start.

If the username and password fields are commented out, Authelia also fails to start.

Can this option be added please?

[2017-10-15 14:42] clems4ever commented on #146
I've almost forgot I've done the fix to publish the master tag in dockerhub, great!

Yes, it will go into a 3.6.0 very soon but as I said Authelia will then be expecting some new attributes in configuration and since I added a configuration validator at startup, old configuration might need to be updated but it's really not a big deal. I think it will only be a matter of adding `sender` to Gmail a

[2017-10-15 14:43] clems4ever commented on #146
But compared to previous versions, the validator will tell you what's wrong in the configuration.

[2017-10-15 14:45] jmccoy555 commented on #146
Yes, just the sender had to be added.

[2017-10-15 15:42] n4kre opened #151 "'per_subdomain_methods' should be optional"
Hi,

As of now, in Authelia's configuration file, `per_subdomain_methods` seems to me mandatory.
I guess it should be optional.

[2017-10-15 16:35] n4kre commented on #108
Hi @clems4ever,

This behavior seem to have a little bug.

**Setup**

`notverysensitive.example.com` is protected by single factor authentication – I have double checked – and `login.example.com` refers to Authelia.

**Test**

1. I log in at `https://login.example.com` – first factor only.
2. I visit `https://login.example.com/?redirect=https%3A%2F%2Fnotverysensitive.example.com%2F`.
3. I get redi

[2017-10-15 17:55] clems4ever commented on #150
Hello @jmccoy555, indeed I did not handle this use case before. Yes, it can be added for sure.

[2017-10-15 17:57] clems4ever commented on #151
@n4kre , yes I can make it optional.

[2017-10-15 18:06] n4kre commented on #145
By the way, two more details:
- In the U2F registration e-mail, it would be cool to tell the user to open the link with a U2F-enabled web browser – *cf.* [here](https://www.yubico.com/support/knowledge-base/categories/articles/browsers-support-u2f/) – otherwise U2F cannot be used. In my case, Safari is my default web browser, and I have to pay attention to this. One may recommend to dynamically ad

[2017-10-15 18:39] n4kre commented on #108
What's more, the “already logged in” page shouldn't be accessible from a non-logged-in user – e.g., should return an error 401.

[2017-10-15 18:41] n4kre commented on #151
Thanks! 👍

(By the way, #108 should be re-opened, I guess – not sure whether you get a notification for new posts in a “closed” issue.)

[2017-10-15 19:40] clems4ever commented on #151
#153 should make it optional.

[2017-10-15 19:40] #151 closed

[2017-10-15 19:40] clems4ever opened #154 ""Already logged in" page should be protected when user is not authenticated"

[2017-10-15 19:41] clems4ever commented on #151
Yes, I see them in my mailbox.

[2017-10-15 19:52] n4kre commented on #154
Hi @clems4ever,

There might also be a little bug, as described in #108. Have you been able to reproduce?

It would also be cool to replace

with something like

(Just like you have already implemented in the second factor authentication page.)

This may be relevant for the end user to know under which identity it is logged in – e.g., the user has multiple accounts, with different permissions.

[2017-10-15 20:06] clems4ever commented on #154
The page is now protected ( #155 ). I will add the username to the page as you suggest.

[2017-10-15 20:07] n4kre commented on #154
Thank you :)

[2017-10-15 20:07] clems4ever commented on #108
Issue with already logged in page is fixed but I cannot reproduce the single factor one.

[2017-10-15 20:26] clems4ever commented on #115
It is already handled by using **ldaps** scheme.

[2017-10-15 20:26] #115 closed

[2017-10-15 20:31] clems4ever commented on #154
#157 added username to the 'already logged in' page.

[2017-10-15 20:31] #154 closed

[2017-10-15 20:52] clems4ever commented on #100
@khimaros , did my answer help?

[2017-10-16 02:37] Ellipsiss commented on #141
Hi @clems4ever. Sorry for the delay. Yes I did. At first I was just using the filesystem - it didnt work so I then added gmail too. Like you said this would have sprung the issue. I removed the spaces and also changed to just using Gmail.

I know this doesn't relate to my original issue - but it appears that I have it all working and I think the LDAP authentication is working.

How do I then confi

[2017-10-16 12:32] jmccoy555 commented on #150
Hi @clems4ever

Just pulled the develop docker image and this is working nicely!!

Thanks.

[2017-10-16 12:32] #150 closed

[2017-10-16 12:49] clems4ever commented on #150
That's awesome! Thank you for testing!

[2017-10-17 22:09] clems4ever commented on #123
Hello @n4kre , this is handled in #161

[2017-10-17 22:09] #123 closed

[2017-10-17 22:14] clems4ever commented on #141
Hello @Ellipsiss , from 3.6.0 you will be able to use basic_auth with Authelia and NGINX.

Since the initial problem has been solved, I'm closing this ticket. Can you please insert new issues for bugs or questions you might have?
If you just need some help to set up Authelia we can definitely talk in Gitter (or Slack, I can setup one if it's more convenient for you).

[2017-10-17 22:14] #141 closed

[2017-10-18 08:02] jmccoy555 commented on #87
Hi @clems4ever

This is working nicely now in the latest develop but not v3.6.0.

Can I just confirm that by basic_auth you simply mean the user is logging in with a username and password without the 2FA stage, and not that Authelia would support URL encoding e.g https://username:password@my.domain (although according to Wikipedia this has recently been depreciated).

My thinking is, say you have

[2017-10-18 14:39] SerialVelocity commented on #87
Hey @clems4ever,

Sorry for the late response. I wrote up a large message but I must have forgot to submit it! I think (1) is fine :)

As @jmccoy555 mentions, it should probably be something like `twoFactor=false` since basic auth is something entirely different.

@jmccoy555 That should be possible by proxying everything under `/auth` or `/authelia` to the Authelia server (not sure the path is con

[2017-10-18 23:05] clems4ever commented on #148
Done with #164.

[2017-10-18 23:05] #148 closed

[2017-10-19 21:50] n4kre opened #167 "Login following a 401 should redirect to the original requested page"
Hi,

When a user encounters an HTTP 401 error and is thus prompted to log in, the link to log in should include the “redirect to” parameter pointing back to that page.

[2017-10-19 23:05] clems4ever commented on #167
Good idea!

[2017-10-19 23:07] clems4ever commented on #134
I found a way to use SSHA-512 for storing passwords in the LDAP using crypt. This is a significant security upgrade! :)

[2017-10-19 23:09] clems4ever commented on #87
Please use #81 to resume the discussion on basic auth and tokens.

[2017-10-19 23:09] #87 closed

[2017-10-19 23:51] n4kre commented on #134
Awesome! 👍

[2017-10-20 08:44] jmccoy555 commented on #145
Having now got a U2F key to play around with, I think this would be great.

I keep logging in the first factor, moving my hand from my mouse to press my key, to remember that I need to click first.

The little note about browser compatibility would be a good idea too, having wondered why Firefox wouldn't work for a few minuets!!! Although the new version out soon should I believe.

[2017-10-20 15:45] clems4ever commented on #124
Done in #166 and I adapted Authelia to work with Content-Security-Policy :).

[2017-10-20 15:45] #124 closed

[2017-10-21 00:02] khimaros commented on #100
Would it be sensible to allow notifications to be disabled for cases where 2FA is being used?

[2017-10-21 20:26] clems4ever commented on #100
@khimaros , let me clarify some things:
- When setting up Authelia, the users should already be in the LDAP with (username, password and email address). Authelia does not handle user registration.
- Notifiers (SMTP and GMail) are used only when a user needs to register a secret for TOTP or to register a U2F device. Those registrations create secrets and save them in the DB (mongo) and not in LDAP.

[2017-10-21 20:29] clems4ever commented on #134
#169 replaces SSHA by SSHA512 in LDAP.

[2017-10-21 20:29] #134 closed

[2017-10-21 20:34] clems4ever commented on #134
I still don't really do anything with the incoming password (no sanitization) because I cannot really restrict the input space since Authelia can be one among several access point to the LDAP.

[2017-10-21 20:38] clems4ever commented on #145
@jmccoy555 , thank  you for the feedback, especially on Firefox. I will try to do something about it.

[2017-10-22 00:08] khimaros commented on #100
@clems4ever -- removing the hard SMTP dependency makes it easier to do initial deployment of SSO using LDAP without U2F. There really aren't other tools that fill this niche so well and so nicely as Authelia.

The SMTP dependency is friction for initial setup, especially since the SMTP notifier does not work with (for example) networks which are configured for auth-less delivery from any machine o

[2017-10-22 08:43] clems4ever commented on #100
@khimaros , I see. Authelia does not start if you don't provide SMTP or GMail and all your domains are configured with single_factor.

One quick workaround could be to set the **filesystem** notifier to /dev/null. In the meantime I will make the notifier section optional. Sounds good?

[2017-10-22 10:16] clems4ever commented on #85
Hello @SerialVelocity , I'm closing this issue since the remaining work will be treated in #88.

[2017-10-22 10:16] #85 closed

[2017-10-22 17:32] jmccoy555 opened #171 "Add auth_http support (IMAP authentication)"
Hi @clems4ever

What do you think about adding auth_http support to Authelia for Nginx mail authentication?

When utilising Authelia for 2FA in front of a webmail server you need to disable authentication on the backend IMAP server as no password is passed, this obviously leave the possibility of anyone connecting with a username and any password.

To get around this I have put Nginx in front to l

[2017-10-22 18:03] khimaros commented on #100
Actually, this might be enough! When I filed this bug originally the filesystem notifier had been removed but I see now that change has been reverted. I will verify that it works shortly.

[2017-10-22 22:07] clems4ever commented on #100
#172 should solve your issue officially. Now, if Authelia protects ALL sub-domains with single factor (meaning **default_method** is **single_factor** and ALL **per_subdomains_method** are **single_factor**) should allow you to not define any notifier. Moreover, the change prevents any access to second factor endpoints (for security reason).

[2017-10-22 22:49] clems4ever commented on #171
Hello @jmccoy555 , thank you for the proposal and the complete description! I did not know **auth_http** before, but I will definitely have a closer look.

However, I will probably not implement it right now since I still have important features, directly related to 2FA, to add. It is important to know that the primary goal of Authelia was to support U2F security keys and access web services secur

[2017-10-22 22:50] #100 closed

[2017-10-23 07:28] jmccoy555 commented on #171
Hi @clems4ever no problem at all and thanks for the consideration. I like to reverse proxy everything but had never got around to looking at this before, put off by the auth_http requirement (as there's not that much information / examples on it); but I think it's actually a powerful part of Nginx that may not be used so much, maybe not in home setups anyway.

Hopefully I'm wrong and there's lots

[2017-10-23 20:25] khimaros opened #173 "`grunt build-dist` fails during grunt-browserify"
I'm seeing this issue with `master` and `develop` branches. This seems to be a relatively recent regression.

[code]

With `grunt --force`, it fails for another reason:

[code]

[2017-10-23 20:54] clems4ever commented on #171
Hello @jmccoy555 , considering IMAP auth as another authentication_method is what I also had in mind and you are right, it could indeed be considered equivalent as single_factor (not dealing with 2FA).

I will most probably consider this proposal at some point but you know how it is, I need to prioritize. :).
If you want to get your hands dirty and make it faster, you can still contribute. Your PR

[2017-10-23 20:56] clems4ever commented on #173
Hello @khimaros , I guess npm dependencies are not resolved correctly on your workstation. #174 should fix this issue. I've just committed my **package-lock.json** since the build works on my machine.

[2017-10-23 21:52] clems4ever commented on #173
As mentioned in #174 , this issue seems to be due to bluebird not being defined as a dev dependency.
The deployment command given in the README (`npm install --only=dev`) is supposed to be tested during integration test phase but the test seems to be incorrect... I will fix it soon.

Thank you for the report.

[2017-10-23 22:05] clems4ever opened #176 "Authelia should show factors that have already been registered"
When the user authenticate for the first time, he can see the instructions to touch the token or get a one-time password while he did not even register any secret yet.

It might be a bit confusing to be told to touch the token while the security does not even blink...

What I propose is the following:
- If first authentication, the user should be proposed to register at least one of the two availa

[2017-10-24 04:32] n4kre opened #178 "Deploy Authelia without Docker and protect it with Fail2Ban"
Hi all,

Below is a little “how-to”, just in case…
This might help people who want to get Authelia running without Docker. It includes basic security hygiene.

This is definitely *not* an “issue”, but I didn't know where to share it…

---

# Deploy Authelia with NPM and protect it with Fail2Ban

Assumptions:
- Your system runs a recent Debian-based GNU/Linux distribution – *i.e.* it makes use of *

[2017-10-24 07:16] jmccoy555 commented on #176
Should there also be an option to remove already registered devices, or may easier to implement an option to reset all?

[2017-10-24 07:33] jmccoy555 opened #179 "Can't send emails - unable to verify the first certificate"
Hi @clems4ever

As per my note on #170, since then Authelia has been unable to send both password reset and second factor registration emails.

info: date='Tue Oct 24 2017 07:24:52 GMT+0000 (UTC)' method='GET', path='/password-reset/identity/start' requestId='76a26cb6-0b91-4dde-a7a5-04104c044518' sessionId='JiJRdR4oCjG5h6EUMvI67tnZhA1a9Hdi' ip='::ffff:10.20.1.2' message='Start identity validation

[2017-10-24 07:59] clems4ever commented on #179
Hello @jmccoy555 , can you please try to set the following env variable before running Authelia?
`NODE_TLS_REJECT_UNAUTHORIZED=0`

It was set in the source few days ago but I removed it to enforce security. Still, you can allow self-signed certificates by setting the env var.

[2017-10-24 08:58] jmccoy555 commented on #179
Thanks @clems4ever, does this only effect the email sender or are there other security implications?

Setting  -e NODE_TLS_REJECT_UNAUTHORIZED=0  in my docker run command did the trick.

I've also now pointed Authelia at my proxied smtp address that uses Let's Encrypt and it works without the above.

[2017-10-24 08:58] #179 closed

[2017-10-24 09:02] clems4ever commented on #179
Hello @jmccoy555 , awesome!
There is no other known implications.

[2017-10-24 12:57] clems4ever commented on #178
Hello @n4kre, thank you very much for this contribution.
I'll try to package this in a vagrant or docker at some point as a proof of concept.
Thank you.

[2017-10-24 16:45] n4kre opened #180 "Prevent session fixation threat."
Hi,

Authelia is likely vulnerable to *session fixation* attacks – not to be confused with *session hijack* via cookie theft.

**Vulnerability**

Authelia does not force a new `connect.sid` at each login.

**Threat scenario**
1. The attacker visits `https://login.example.com` and gets a specific `session.id` (stored in a cookie) – no need to log in.
2. The attacker induces the victim to use that e

[2017-10-27 22:09] masau opened #182 "Blank page after first factor suceeds (401 error) on 3.6.0"
After updating to 3.6.0 I am unable to get to the page for the second factor despite successful authentication. I reverted to 3.5.0 to make sure I didn't break something by mistake and it worked fine.

After updating to 3.6.0 again, I am still able to authenticate on the browser I did my testing on - but every other browser results in the below error after successfully passing the first factor.

I

[2017-10-28 11:25] clems4ever commented on #180
Hello @n4kre , thank you for the scenario. I will definitely try to change the connect.sid at each login.

[2017-10-28 11:30] clems4ever commented on #182
Hello @masau, thank you for the report. Can you please provide me with the browsers you have tried so far and whether they worked? For your information, only chrome is fully tested in Travis and on my desktop.

Thank you in advance,
Clément.

[2017-10-30 02:17] n4kre opened #183 "Authentication from a *remote* Nginx?"
Hi,

I fail to use Authelia in case the Nginx reverse proxy serving “protected” resources is not on the same machine than Authelia, *i.e.* when the authentication subrequest is not made to `http://127.0.0.1:xxx/verify` but to `https://login.example.com/verify`—assuming the latter point to a *remote* (different machine) Nginx reverse proxy that is configured “like in your examples”—the latter runs

[2017-10-30 15:51] masau commented on #182
Sorry for the late reply - I tested this on Chrome, Vivaldi, and Firefox. I did most of my testing in Firefox - it worked briefly Friday after I reverted to 3.5.0, logged in and then updated again, but it has since stopped working. Chrome and Vivaldi both had the same result and error. Most of my testing was done on my Windows 10 machine for work, but I also tested from Firefox on my home machine

[2017-10-30 16:36] masau commented on #182
I just built Authelia on Debian 9 instead - same result and error.
Redis version on Debian: 3.2.6
Mongo version on Debian:  3.2.11
Node version on Debian: 8.8.1

Note: In both cases I set up Authelia using NPM rather then Docker.

[2017-10-30 17:35] n4kre opened #184 "Access control “any” group with policy “allow” should not even require authentication"
Hi,

Here is the objective:
- https://private.example.com should be protected with Authelia.
- Nevertheless, https://private.example.com/someStringThatCanBeRegexed should be publicly accessible, without even requiring to authenticate (a client API needs access to it).

As of now, I have to tweak my Nginx configuration to achieve the desired behavior.
It would be more natural to configure Nginx so

[2017-10-30 17:43] masau commented on #182
It appears that the SessionID isn't being maintained between firstfactor and secondfactor in 3.6.0 while it was in 3.5.0:

From 3.6.0
[code]
From 3.5.0
[code]

[2017-10-30 18:24] masau commented on #182
Found the issue - it was a typo in my nginx configuration.
I was using "proxy_set_header X-Forwarded-Protocol" rather then "proxy_set_header X-Forwarded-Proto"

That typo has been there a long time.

Closing issue.

[2017-10-30 18:24] #182 closed

[2017-10-31 05:50] clems4ever commented on #183
Hello @n4kre , thank you for the report.

For your information the setup you propose is indeed not tested yet. I have only tested with nginx serving both Authelia and the app to be protected so far. It might be good to replace the original setup with yours since it is more generic. It is simple to reproduce with docker-compose btw.

Thank you,
Clément.

[2017-10-31 05:54] clems4ever commented on #184
Hello @n4kre, this example does make sense but I would definitely go for the proxy configuration anyway to avoid the round trip to the authentication server for that resource. You see what I mean?

[2017-10-31 05:56] clems4ever commented on #182
Thank you, I will try to test with several browsers at some point. Great you made it work, it might be good to document the thing somewhere in the README. Wanna contribute?

[2017-10-31 21:08] clems4ever commented on #180
Hello @n4kre , I digged a bit into this and I discovered that the package you found is only resetting the session whenever the user goes to the login page. In Authelia, a session expires after a certain amount of time (customizable in configuration) and is even reset when user is inactive long enough (your proposal and also configurable). Still, it does not prevent session fixation.

To do so, I n

[2017-10-31 21:10] clems4ever commented on #109
Handled in #185

[2017-10-31 21:10] #109 closed

[2017-10-31 21:33] clems4ever commented on #173
#177 should fix the issue.

[2017-10-31 21:33] #173 closed

[2017-11-01 12:22] clems4ever opened #186 "Support for "Authorization: Basic xxxx" header"
Let say I have a docker registry. I would like to protect the access with basic authentication.

To do so, the verify endpoint must handle basic auth for single factor protected domains.

[2017-11-01 14:02] clems4ever commented on #167
Fixed with #187. Be careful though, the /verify endpoint moved to /api/verify.

[2017-11-01 14:02] #167 closed

[2017-11-01 14:28] clems4ever opened #188 "Support for application passwords"

[2017-11-01 14:29] clems4ever opened #189 "Support for OAuth2"

[2017-11-01 15:41] n4kre commented on #184
Hi @clems4ever,

I get your point, it it better not to even go through Authelia. On top of that, in case we want to specifically deny access for some group (override the `any` group access control policy), it is important to keep it in the way it currently is. Thank you!

[2017-11-01 15:45] n4kre commented on #180
What I meant is to force a new `connect.sid` at each login *attempt*—not at each time the login page is visited. Does it makes sense?

[2017-11-01 15:49] masau commented on #183
This is similar to my (working) setup.

The only difference is that I've got an added portal server in front of both Authelia and my service

So requests follow this flow:

Request for https://private.example.com
                                    |
                                   ▼
https://private.example.com (nginx on portal)
                                    |

[2017-11-01 15:51] n4kre opened #190 "About default redirection"
Hi @clems4ever,

Two little concerns about the default redirection:
- Since it is an optional parameter; is not set, the “already logged in” page should not display “If you are not redirected in few seconds, click here.” in case is has not been configured.
- May be this parameter should be set in the ACL section of the configuration file: e.g., by default, anyone is redirected to some page, while

[2017-11-01 16:04] clems4ever commented on #190
Hello @n4kre ,

* you are right, I fixed it few minutes ago when redirecting users facing a 401 or 403. I will do the same for the "already logged in" page.
* This is a good idea indeed. I won't mix it with ACLs though but perhaps add a new section for this matter.

Can you please split this in two separate tickets so that I can prioritize them separately?

[2017-11-01 16:09] n4kre commented on #190
Great!

Yes, of course: the is not an ACL *per se*, but you got my point: to have it tied to the groups/users.

[2017-11-01 17:24] n4kre commented on #190
I have noticed other things:
- If the user authenticate through U2F rather than TOTP, he does not get any notification upon successful (or failed, I guess) login.
- If the default redirection is not configured, the user is is not redirected to the `/loggedin`. He stays on the second factor page: a bit confusing. I guess it should be redirected to `/loggedin`.
- If the default redirection page is p

[2017-11-01 17:39] n4kre opened #191 "U2F registration final redirection"
Hi,

In case I want to register a U2F token, I get redirected to `/secondfactor/u2f/identity/undefined` (giving an error 404) in the end of the registration process.

[2017-11-01 18:18] n4kre opened #192 "Error 401 and 403 redirections"
Hi,

Getting back on #167, here is a scenario giving a weird behavior:
- User is not logged in and visit some page requiring authentication on `https://login.example.com` (Authelia's web UI itself), say `https://login.example.com/loggedin`, for instance.
- Then, the user gets a 401 error: perfectly normal. However, it also states “Please click here if you are not redirected in few seconds.”, with

[2017-11-01 19:54] clems4ever commented on #186
Handled in #193

[2017-11-01 19:54] #186 closed

[2017-11-01 19:59] clems4ever commented on #184
Great. I'm closing the issue then. Thank you!

[2017-11-01 19:59] #184 closed

[2017-11-01 20:07] clems4ever commented on #192
I think this feature is already handled at head.

The error 403 page comes with the following message:

And 401 with:

The second sentence disappears if there is no link to redirect to. Can you please try and tell me if you see something missing from what you expect?

[2017-11-01 20:08] clems4ever commented on #192
The "already logged in" page will be handled in #194 .

[2017-11-01 20:20] clems4ever commented on #180
Still not clear. What do you mean by login attempt? The POST request to /api/firstfactor?

[2017-11-01 20:39] clems4ever commented on #183
Hello @masau, very interesting setup! Amazing!

@masau , @n4kre , you have both made an amazing work so far! I will definitely reuse your documentation to bootstrap a concrete complex highly available setup with terraform and ansible.
Do not hesitate to contribute if you have already scripted something.

[2017-11-01 20:48] clems4ever commented on #190
Hello @n4kre , thank you for the report. There are a lot of things in the last comment. Can you please file new tickets for each issue so that it is easier for everybody to follow?

[2017-11-01 20:54] n4kre commented on #183
Oh, I got it!

[2017-11-02 04:46] n4kre commented on #191
I cannot reproduce it anymore—I have updated Authelia and my Nginx config, so I do not know which on was faulty. Anyway, it is no longer an issue.

[2017-11-02 08:00] clems4ever commented on #191
hello @n4kre, this is expected. It was fixed in #194.

[2017-11-02 08:00] #191 closed

[2017-11-02 20:38] clems4ever commented on #192
Hello @n4kre , can you please confirm everything is working fine at head?

[2017-11-02 21:35] n4kre commented on #183
Got it!
It was due to the `proxy_intercept_errors on;` directive in Authelia's Nginx config. A different Nginx location block for `/api/verify` is required, without this directive.

See #178 for a complete setup, from A to Z, and with Fail2Ban. :)

[2017-11-02 21:41] clems4ever commented on #178
Hello @n4kre , I opened a wiki today. I will most probably put this tutorial there. What do you think?

[2017-11-02 21:42] clems4ever commented on #183
Awesome! I will add the tutorial to the wiki I've just created when I have some time.
Thank you!

[2017-11-02 21:47] n4kre commented on #178
Nice idea!
However, make sure to test it step-by-step beforehand: I might have omitted some stuff while copy/pasting from my own setup – I can correct it in case something is wrong.

[2017-11-02 21:48] clems4ever commented on #178
I will script it with ansible at some point but I think I can publish it as is in the meantime with a big warning at the beginning.

[2017-11-03 03:01] n4kre opened #199 "Display bug on the '/secondfactor' page, using Safari"
Hi,

As you can see below (bottom left corner), there is some display bug on the Authelia's `/secondfactor` page, when using Safari—both desktop and mobile versions are affected. Other pages are properly rendered.
I had not noticed such an issue in earlier versions of Authelia.

This bug does not affect Chrome—I have not tested with Firefox, Opera, Edge or Internet Explorer.

<img width="1440" alt

[2017-11-03 03:06] n4kre commented on #192
I do confirm :)

[2017-11-03 03:11] n4kre commented on #180
I have poorly expressed myself, sorry…
Forcing a new `connect.sid` at each successful login (only once 1st factor auth has succeeded) would resolve the issue, to me.

[2017-11-03 03:12] n4kre commented on #180
To answer your previous comment: yes, it would be okay.

[2017-11-03 03:39] n4kre commented on #199
This explain the rationale behind it:
<img width="1440" alt="screen shot 2017-11-02 at 11 36 24 pm" src="https://user-images.githubusercontent.com/14371127/32359786-bf4acc9a-c026-11e7-8397-228d011384b4.png">
I guess the branch `bugfix/firefox-u2f-api` will fix it. I will try once code is available on the master.

[2017-11-03 08:06] clems4ever commented on #199
Hello @n4kre, this is exactly the same bug I had with Firefox yesterday. It should be fixed with the ongoing PR indeed :).

[2017-11-03 08:24] jmccoy555 commented on #199
Morning,

I was also seeing this with beta build of Firefox 57.0b13 which is that is due to support U2F keys natively, (was waiting for the release version to report).

bugfix/firefox-u2f-api has removed the box.

Enabiling the u2f in about:config with security.webauth.u2f;true and security.webauth.webauthn_enable_usbtoken;true the key now flashed, but when touched it appears accepted i.e. stops f

[2017-11-03 15:12] n4kre opened #200 "Tie default redirection to user in the same way as ACLs"
Hi,

Rather than a default redirection common to anyone, it could be tied to the user in the same way as ACLs are (any/groups/users).
The idea is to be able to achieve such a scenario, for instance: by default, anyone is redirected to some page, while users in the “admin” group are redirected to some other page, user “bob” is redirected elsewhere, etc.

In case you go for it, I would then suggest

[2017-11-03 15:17] n4kre commented on #190
Hi @clems4ever,

Considering this ticket was merely about

I think it can be closed now: you have solved it.

With regard to tying the default redirection to the user in the same way as ACLs, I have opened a dedicated ticket, following your advice. See #200.

[2017-11-03 17:17] n4kre opened #201 "Usernames enumeration (continued)"
Hi,

Getting back to #133: an invalid username submitted for password reset should result in the same behavior than an invalid username submitted for login, with regard to the response code sent back to the client.
As of now, the end-user asking to reset a password for a non-existent account receives an HTTP 401 – different from the code it receives in case a valid username has been submitted, thu

[2017-11-08 09:40] Beanow commented on #189
Likewise, http://openid.net/connect/

[2017-11-08 20:51] clems4ever commented on #189
Hello @Beanow , thank you for your interest. OpenID is indeed a protocol that would be cool to see in Authelia at some point.

[2017-11-08 23:22] clems4ever commented on #201
Hello @n4kre , this issue is handled in #202 .

[2017-11-09 01:23] n4kre commented on #199
Hi all,

I still have the exact same bug even with the latest version of Authelia.
Am I missing something?

[2017-11-09 08:05] jmccoy555 commented on #199
Hi @n4kre

With Firefox 56 I still see the box. With the latest version still in Beta the box is gone, but I can not sign in.

[2017-11-09 14:31] clems4ever commented on #199
Hmmm, I will check which version of Firefox I have at home but it was working on my side yesterday. I tested with Chrome and Firefox (with the U2F extension enabled)

I'm using the JS api provided by Yubico to handle the client side of U2F. I'm not even sure the API is compatible with every browser. The best way to test it is to try a registration and authentication at https://demo.yubico.com/u2f

[2017-11-09 14:33] clems4ever commented on #199
You can help by providing a matrix with all tested browsers (with their version and wether they use an external plugin) and whether they work with the Yubico demo. The matrix should be the same for Authelia. If it is not, I need to fix this.

[2017-11-09 14:48] n4kre commented on #199
I may be totally wrong, but is it normal that there are still references to the Google U2F module in [u2f-api.js](https://github.com/clems4ever/authelia/blob/master/client/src/thirdparties/u2f-api.js)? I simply have *<kbd>CTRL</kbd>+<kbd>F</kbd>ed* `chrome-extension://`. That might explain why the *iframe* is not loading on other web browsers.

[2017-11-18 20:29] clems4ever commented on #199
Well, this constant is in the U2F API provided by Yubico. I don't know what it is supposed to do while executed in firefox for example but it seems to work anyway...

[2017-11-18 20:29] #192 closed

[2017-11-18 20:30] #190 closed

[2017-11-18 22:33] clems4ever commented on #201
It reached the mainstream :).

[2017-11-18 22:33] #201 closed

[2017-11-23 15:12] n4kre commented on #199
Hi @clems4ever,

Using Firefox 57.0 on macOS, Authelia won't unfortunately work with my YubiKey 4.
The **iframe* is not visible anymore and I have no error in Firefox console. However, although the YubiKey starts blinking when Authelia asks to validate the second factor, it just stops blinking when I touch it… and that's all: nothing else happens. I cannot find any information about what is actual

[2017-11-23 15:22] n4kre commented on #199
Oh, I have this error in Firefox console:

<img width="736" alt="screen shot 2017-11-23 at 10 20 08 am" src="https://user-images.githubusercontent.com/14371127/33179637-24840da8-d038-11e7-961b-9e0d270c7003.png">

[2017-11-23 15:27] n4kre commented on #201
Hi,

Thank you @clems4ever!

In addition, I have noticed such an error is not logged anymore. Could you please log it again? This would be useful for anti-bruteforce software. :)
You could reuse the same message in case of an invalid username submission to the login form:`'[…] message='Reply with error 200: No user DN found for user '[…]''`

[2017-11-28 19:51] clems4ever commented on #199
Hello @n4kre , do you have the U2F plugin installed?

[2017-12-02 23:42] SerialVelocity commented on #88
Traefik v1.5.0-rc1 has now been released with that PR

[2017-12-03 03:36] SerialVelocity commented on #88
To work around this issue I currently have use `haproxy:1.7-alpine` and the configs:
[code]
[code]
It's not complete as it doesn't deal with 403 and doesn't seem to redirect properly after logging in

[2017-12-03 22:01] clems4ever commented on #88
Awesome, I will have a look. I need it for Kube cluster anyway. Thanks for the heads up.

[2017-12-04 20:24] clems4ever commented on #88
Hello, I gave it a try and it seems to redirect correctly now with version 1.5.0-rc1 and the proper fix in Authelia. Unfortunately I cannot make a complete example with Traefik as the public LB since authentication is not yet by frontend.

@jkaberg , I saw you opened an issue to support it: https://github.com/containous/traefik/issues/2162. I will wait for it before going further. In the meantime

[2017-12-04 21:46] clems4ever commented on #88
Here you go: #204

[2017-12-22 14:53] jkaberg commented on #88
@clems4ever Thanks! I've been busy - but had the chance to try this out now.

Most of it seems to work. But if you're not authenticated (eg. you got a cookie) Authelia and Traefik ends up in an loop and browser errors out on ERR_TOO_MANY_REDIRECTS when putting the auth domain inside the forward authentication entrypoint in Traefik.

I tried with ACL, however it seems to have no effect?

Authelia c

[2018-01-07 22:02] Drulac opened #205 "Use template-literal instead of EJS"
[Template Literal](https://github.com/Drulac/template-literal) is fastest, smallest and simplest template engine, because it use JS's literal template feature.

It's  55 times faster than EJS, and it also use less CPU and RAM ressources, so it may be a good idea to use it instead of EJS 😀

[2018-01-17 12:54] clems4ever commented on #205
Hello @Drulac , thank you for the pointer. I will have a look but keep in mind that I have not done any benchmark so far and nobody complained about perf issues yet. :).

[2018-01-17 12:57] clems4ever opened #206 "Make Authelia available on Kubernetes using ingress-nginx"
It would be great to have Authelia in a Kube cluster in only few commands (only one?).
Plus, in combination with kube-lego, certificates renewal can be handled automatically by the cluster.

https://github.com/kubernetes/ingress-nginx

[2018-01-24 11:02] clems4ever commented on #206
FYI, I've made it working in my cluster with kube-lego for certificate renewal. I will publish configurations to show how to set it up. Hopefully I will package it with Helmet at some point.

[2018-02-05 21:33] davama opened #207 "[assistance] authelia behind nginx"
Hello,

i'm trying to test this software out as a proof of concept on a test environment. I believe it would be awesome if i could get it to work (also understand it a bit better :sweat_smile: )...
Unfortunately iv'e followed serveral sites to the best of my ability but no go :disappointed:
[auth_module](http://nginx.org/en/docs/http/ngx_http_auth_request_module.html)
https://github.com/clems4ever

[2018-02-06 13:09] clems4ever commented on #207
Hello @davama ,

the problem is you don't reach the correct endpoint in the auth block. It should be /api/verify. From the logs I can see the request is /auth instead.

Please add this line to the auth block:
[code]

Thanks,
Clément.

[2018-02-06 15:14] davama commented on #207
@clems4ever thank you very much for the reply!

That did help to get me closer!

I've adjusted my nginx config a little to reflect what i've seen others do but now get a `401 Authorization Required` which is good i think

Here is the debug from authelia:
[code]

As the logs mention `First factor not yet validated` I would have thought that authelia would prompt me but maybe im mistaken. I feel it

[2018-02-14 15:22] davama commented on #207
I was able to get this working following closely https://github.com/clems4ever/authelia/issues/183#issuecomment-341147172

Also ldap group membership works too. had to change `{uid}` to `{0}`
[code]

This is a really cool piece of software!
Thank you @clems4ever  for the support

[2018-02-14 15:22] #207 closed

[2018-02-15 10:01] clems4ever commented on #207
Hey @davama , I'm sorry, I've been a bit busy lately. I'm glad you made it work!

[2018-02-15 16:30] davama commented on #207
@clems4ever not at all!

I do have some other questions/issues but will address on another ticket once i play with it some more.
Thanks!

[2018-02-16 08:11] clems4ever commented on #207
Sure, just let me know when you need help.
Thank you.

[2018-02-19 21:44] davama opened #208 "Help with single-factor"
Im trying to use single factor but on certain domains but cant seem to make it work...

authelia server is `login.nwk.jwm2.net`
graylog server authenticating via authelia `graylog-lab.nwk.jwm2.net`

authelia config (what i think is relevant):
[code]

If i set `default_methos` and `single_factor` to `single_factor` then single factor auth works.

if i leave as above the 2fa is the only method allow

[2018-02-23 08:42] clems4ever commented on #208
Can you please add Authelia's logs?

Have you tried to check the headers sent by your application? Are they correctly forwarded to Authelia (it should be visible in headers in the logs).

[2018-02-23 13:43] davama commented on #208
@clems4ever thank you for replying

Authelia logs for a successful 2FA login to `usdsb.nwk.jwm2.net/secure`

[code]

nginx logs `usdsb.nwk.jwm2.net`
[code]
nginx logs `login.nwk.jwm2.net`
[code]

nginx config from `usdsb.nwk.jwm2.net`

[code]

nginx from authelia server `login.nwk.jwm2.net`
[code]

thanks again for the support!

[2018-02-25 10:50] clems4ever commented on #208
I don't see any login attempt from user syslog in Authelia's logs. Can you make sure queries from graylog are correctly reaching the proxy and forwarded to Authelia.

[2018-02-25 14:08] davama commented on #208
Thank you for replying.

Actually

`syslog` is the group
The user is `dvmacias`

[2018-03-04 10:48] clems4ever commented on #208
Ok, I think I got what is the issue, you are missing the following header in the nginx config protecting the authorized location:
proxy_set_header  Proxy-Authorization $http_authorization;

Please have a look at how it is implemented in the file *example/nginx/portal/nginx.conf*. There is a configuration for *single_factor.example.com*.

[2018-03-05 09:24] clems4ever commented on #206
I made it work with branch called `kube`. There is a README in example/kubernetes directory. Please give your feedback if you follow the steps, it would be greatly appreciated.

[2018-03-05 14:14] davama commented on #208
@clems4ever thank you very much for replying. I feel so dumb :disappointed:

I was playing and playing with it and comparing your configs with mine and i just could not understand....

Then after much back and forth it hit me...

Your actual domain name in nginx here:https://github.com/clems4ever/authelia/blob/8a1f38f2f14beef2cc165a00d871ecb85812f17d/example/nginx/portal/nginx.conf#L263

is the ac

[2018-03-05 14:14] #208 closed

[2018-03-05 16:48] clems4ever commented on #208
Ok, got it! I'm glad you made it work despite the headache.

I feel like it is not so simple to set everything up when the target architecture is a bit complex. I'll try to think about a way to help when building such configurations. Maybe more documentation would be helpful.

There is a much simpler solution though: Kubernetes. I created the configuration of a whole cluster in only one afternoon

[2018-03-15 09:18] hongkongkiwi opened #210 "Default Config Template is slightly wrong for local storage"
Hi there,

Very small issue, in the default configuration template, for the local variables it shows that we can do:

[code]

but the code has been modified to expect an object, so it should be updated to show

[code]

Small mistake but I think worth fixing.

[2018-03-15 10:10] clems4ever commented on #210
Hello @hongkongkiwi ,

Thank you for reporting. I will fix it shortly.

Thanks.

[2018-03-15 21:19] damomurf commented on #206
So I’ve got Authelia working mostly fine under Nginx-ingress in Kubernetes without this.

The only thing not working are redirects after login. What did you have to change to get that to work?

I’d rather not replace the whole Nginx-ingress template, but use annotations for config if I can.

[2018-03-16 07:39] clems4ever commented on #206
Hello @damomurf , this statement might be missing in the nginx template:
[code]

I'm really interested in your configuration though. Which version of nginx-ingress do you use and what is an example of ingress configuration working with Authelia? Can you please share it?

[2018-03-16 07:43] clems4ever commented on #206
If you want to see all the changes I've done for version 0.9.0-beta.19 of the nginx controller to make it work, you can `diff -u` the two files in `example/kube/ingress-controller/configs`. It gives this:

[code]

[2018-03-18 00:08] damomurf commented on #206
@clems4ever The ingress configuration I use is as follows:
[code]
Everything works fine, except after logging in with Authelia, no redirect is sent to the originally requested URL. If there's already a valid session, everything works as expected.

I'm using the following docker image:
`quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.9.0-beta.19`

I might try with server-snippet an

[2018-03-18 00:53] damomurf commented on #206
Oh, and an Ingress requiring Authelia for auth looks like:
[code]

[2018-03-19 13:09] clems4ever commented on #206
@damomurf , you can indeed try to add this header with annotations if possible. It would be awesome if it works.
But there is another thing I don't think would work without modification: the forwarding of username and group to the backend app because I think there is now way to specify **proxy_set_header** statement using annotations.

Thank you for the configurations anyway and keep me posted if

[2018-03-20 03:41] damomurf commented on #206
@clems4ever I'm not entirely clear on why any headers are required to make the redirect functional? The originally requested url gets passed as a parameter to the auth-signin url via the "rd" request parameter (where you see Authelias signin prompt). I would have thought Authelia would be able to remember that and send back a redirect to that URL once authentication had completed?

[2018-03-20 14:52] n4kre commented on #199
Hi @clems4ever,

It's been a while!

What kind of plugin are you talking about? Isn't it native in Firefox Quantum?

[2018-03-20 20:58] MischaBoender opened #211 "Registration token does not exist"
Just installed Authelia, but I'm running into an issue. When accessing the protected resource I'm being redirected to Authelia and am presented with the first factor screen. I enter my (LDAP) credentials, which are accepted, and I'm redirected to the second factor screen. Here I click the register button to generate the URL which should display the image, but I'm presented with an Authelia "_You a

[2018-03-20 21:20] MischaBoender commented on #211
Human error: generated URL was cut-off

[2018-03-20 21:20] #211 closed

[2018-03-20 21:46] clems4ever commented on #211
Hello @MischaBoender , I'm glad you found the issue. Out of curiosity, how are you installing it? with Docker or npm?

[2018-03-20 21:55] MischaBoender commented on #211
With NPM, so I'm getting the URL from the txt file. Problem was that my SSH console put what looked like a space somewhere near the end of the token id, so I copied only the part before that and missed a few chars.

[2018-03-27 08:42] networkhell opened #213 "Custom mail_attribute never returns email addresses"
I use a custom LDAP email attribute to retrieve my users email addresses. It seems that the function searchEmails does ignore the 'mail_attribute' from config.yml. So using a mail_attribute different from 'mail' is impossible!

It just does not return any email address:

`debug: LDAP: emails of user '******' are`

I think the problem is in the function searchEmails in dist/server/src/lib/ldap/Clie

[2018-03-27 12:42] demvil opened #214 "LDAPs with self Signed Active Directory CA"
HI,

I have an Active Directory and it has self signed certificates.

My configuration only works if I disable
`Environment=NODE_TLS_REJECT_UNAUTHORIZED=0`
But I want to enable it.

I imported the certificates in Debian ca-certificates.
How can I use my self signed certificates with LDAPs.

[2018-03-27 13:34] clems4ever commented on #214
Hello @demvil , what is the error you get when using the ldaps:// url to your LDAP?

[2018-03-27 13:37] clems4ever commented on #213
Hello @networkhell ,

thank you for the report. I will add a test and try your fix. Regarding multiple emails per user, I think it is not supported (did not try though).

Clément.

[2018-03-28 10:55] oriolrius commented on #88
Any update on that since December?

Thanks.

[2018-03-28 10:58] clems4ever commented on #88
Hello @oriolrius , not from my side.
I'll add some comments here if I find a way to make it work at some point. I'm not actively looking at this though.
Stay tuned.

[2018-03-29 22:09] clems4ever commented on #210
Hello @hongkongkiwi , I fixed it with #212 .

[2018-03-29 22:09] #210 closed

[2018-04-06 17:49] circlenaut opened #216 ""Authentication session * was undefined. Resetting" issue"
I'm having a difficult time getting this setup to work, specifically, I'm getting the following authentication undefined and invalid first factor authentication errors.

I followed this [guide](https://github.com/clems4ever/authelia/issues/178).

Any idea what might be causing these?

System Specs:
Ubuntu 16.04: 4.4.0-119-generic
nginx version: nginx/1.10.3 (Ubuntu)
npm version: 5.6.0
node version

[2018-04-10 01:55] khimaros commented on #189
I would love to see this as well.

Possible route: Authelia as a coreos/dex frontend.

[2018-04-24 18:59] clems4ever commented on #214
Hello @demvil , can you please share the error you get?

[2018-04-24 19:35] clems4ever commented on #213
Here is the PR that fixes the issue: #217 . Thank you for the hints.

[2018-04-24 19:49] clems4ever commented on #199
Since you proposed a solution that works on firefox, I will add it in the documentation and close this thread once done.

[2018-04-24 22:44] damomurf commented on #206
Awesome, thanks @clems4ever. Let me know if I can help by testing it further if you need.

[2018-04-25 07:06] clems4ever commented on #213
The fix is in v3.7.1. Thanks.

[2018-04-25 07:07] #213 closed

[2018-04-25 07:26] clems4ever commented on #216
Actually I think I found your issue. You need to set the Proxy-Authorization header in the request to /api/verify. It should be set to the same value as Authorization.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Proxy-Authorization

[2018-04-25 19:34] clems4ever commented on #199
I created this wiki page: https://github.com/clems4ever/authelia/wiki/Browser-support-for-U2F.

[2018-04-25 19:34] #199 closed

[2018-04-25 20:26] clems4ever commented on #183
I added the tutorial to the wiki: https://github.com/clems4ever/authelia/wiki. I can now close the issue.

[2018-04-25 20:26] #183 closed

[2018-04-25 20:27] clems4ever commented on #178
Thank you @n4kre , I copy-pasted your tuto in the wiki: https://github.com/clems4ever/authelia/wiki.

[2018-04-25 20:27] #178 closed

[2018-04-25 21:17] clems4ever commented on #118
@n4kre , Interesting document: https://expressjs.com/en/advanced/best-practice-security.html
I'm currently adding Helmet as a dependency.
I will try to mitigate the CSRF issue after I rewrote the client (I'm about to do it to make it more professional and able to support a management interface).

[2018-04-25 21:19] clems4ever opened #218 "Rewrite Authelia client using React"
This work will make Authelia visually more attractive and professional and will help develop a management interface required by application passwords or JWT tokens issuance and revocation.

[2018-04-26 21:36] circlenaut commented on #216
Thank you for replying @clems4ever. I tried adding the following: `proxy_set_header Proxy-Authorization $http_authorization;` under the /api/verify block, unfortunately I'm still receiving the same error. Should I place the proxy-authorization line somewhere else in the code?

[2018-04-26 21:38] clems4ever commented on #216
Do you see the header with a base64 value in the logs?

[2018-04-30 07:35] ciroiriarte commented on #135
It's not unusual to have a second U2F archived key in case you lose the main one..

[2018-04-30 17:45] ciroiriarte opened #221 "'Authentication session * was undefined. Resetting.'"
Hi!,

I'm trying Authelia on nginx + CentOS 7, I can see session keys are inserted in redis, but I cannot successfully login:

It's like the application thinks that the user was not authenticated, although I received:

[2018-05-02 15:52] clems4ever commented on #221
Hello,
I think your issue is related to #216.

Can you please give more info about your setup? What version of authelia you're using? Do you use a docker image? Do you use the npm package? What is the LDAP server you're using?

[2018-05-02 16:39] ciroiriarte commented on #221
Sorry for the missing information. I'm running Authelia through the NPM module.

CentOS 7.1: 3.10.0-693.21.1.el7.x86_64
nginx version: nginx-1.13.12-1.el7_4.ngx.x86_64
npm version: npm-3.10.10-1.6.14.0.1.el7.x86_64
node version: nodejs-6.14.0-1.el7.x86_64
Redis server version=redis-3.2.10-2.el7.x86_64
Mongodb version = mongodb-server-2.6.12-6.el7.x86_64
Authelia:  authelia@3.7.1

The backend is a

[2018-05-02 17:38] ciroiriarte commented on #221
NginX configuration:

server {
    listen 80;
    server_name auth.iriarte.it;

    location = /api/verify {
        include conf.d/default_headers;
        # Set original requested Host from X-Forwared-Host.
        # Of course, the external Nginx server protecting his resources
        # must have properly set this header, as configured in this how-to.
        proxy_set_header Host $http_x_forwa

[2018-05-02 19:30] clems4ever commented on #221
Hello @ciroiriarte , you are at least missing the parameter forwarding authentication requests to Authelia which would be something like this in your case: `auth_request /api/verify;` to be added in `/` section. How did you build your nginx configuration? Were you inspired by something?

You'll find a complete example of nginx configuration in `examples/compose/nginx/portal/nginx.conf`. Do not hes

[2018-05-02 20:24] clems4ever commented on #48
Needs #218 to have the admin interface to do so.

[2018-05-02 20:26] clems4ever commented on #214
@demvil , please re-open this thread if you still have the problem and can share the kind of error you're facing.

[2018-05-02 20:26] #214 closed

[2018-05-02 20:27] clems4ever commented on #206
It's now in master! All details are in the README under example/kube and in the new wiki I've written.

[2018-05-02 20:27] #206 closed

[2018-05-02 21:36] ciroiriarte commented on #221
Hello!,

I've used this configuration as reference:

https://github.com/clems4ever/authelia/issues/178

I still didn't configure any site to be "protect" by Authelia, I was expencting to "login to" Authelia to enroll a U2F key. Probably I missunderstand hoy it works.

[2018-05-02 22:25] clems4ever commented on #221
Ok, I did not test this tutorial myself so I cannot guarantee anything about it. I advise you to try understanding the minimal configuration I gave you for Authelia to work and then augment this configuration with what is in this tutorial if you need it.

Regarding the question you have on how it works, here is a little explanation: Authelia is an HTTP server validating authentication requests for

[2018-05-02 22:27] clems4ever commented on #221
I also advise you to test the docker-compose environment described in the README. With only a few commands, this is definitely the fastest way to test the app and see how it works.

[2018-05-04 08:33] clicksports opened #223 "Use Authelia without openLDAP"
Hello, is it possible to use Authelia without openLDAP?

[2018-05-04 13:13] SHSauler opened #224 "return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);"
Hi guys,

Each time I try to install `authelia` on a Ubuntu 16.04 instance following the tutorial to download docker-image and start it, I get:

[code]

I thought it was linked to an old version of node.js, so I got a newer one via `nvm`:

[code]

It's probably a dumb mistake on my side. Could you please give me a hint?

Thanks a bunch!

[2018-05-04 13:15] clems4ever commented on #223
Hello @clicksports , apparently some users tried with MS Active Directory and seemed to work.
Thanks.

[2018-05-04 13:15] #223 closed

[2018-05-04 13:16] clems4ever commented on #224
Hello @SHSauler , please try with `sudo -H docker run -v /home/ccloud/authelia/config.yml:/etc/authelia/config.yml clems4ever/authelia`

[2018-05-04 13:18] SHSauler commented on #224
Ah, makes sense. Apologies for the dumb question and thanks for the super-quick answer :)

[2018-05-04 13:18] #224 closed

[2018-05-04 13:28] clems4ever commented on #224
you're welcome! :)

[2018-05-04 13:55] clicksports commented on #223
Hello, @clems4ever is it possible to use it without any LDAP-System?

[2018-05-04 13:57] clems4ever commented on #223
@clicksports , where would you retrieve the user/password from in that case?
Authelia does not support static databases of users.

[2018-05-04 14:03] clicksports commented on #223
@clems4ever, Is it possible to save the user data into the database?

[2018-05-04 15:18] SHSauler opened #225 "Session to LDAP is not closed when queries fail."
Hi again! Thanks for your project!

This might be related to #58. Did this twice to check whether this is a real issue.

Steps to reproduce:

* LDAP query for user, which succeeds
* LDAP query for group, which fails with `problem 2001 (NO_OBJECT)`

Exactly after 15 mins of idling, the docker will crash with:

[code]

Full logs:
[code]

[2018-05-04 15:40] clems4ever commented on #225
Hello @SHSauler , I think your error might more be related to the actual error we can see in the logs:
[code]

[2018-05-04 15:55] SHSauler commented on #225
Yes, the `(NO_OBJECT)` is a problem on our side. But the `ECONNRESET` & crash bit comes 15 mins after the full log snippet above.

[2018-05-04 15:56] clems4ever commented on #225
Ok, maybe there is a bug preventing the session from being closed when the search query fails. I'll have a look. Thanks for reporting.

[2018-05-14 20:21] jakegroves opened #226 "[question] Browser https proxy support?"
Hey :)

I have been testing out the authelia stack you provide on docker on Debian Jessie.
I have managed to get it working with setting the 'server_name' directive to '_' so it accepts any server name and does the 2fa auth.

However, whenever I set up my browser to proxy https requests through to the authelia host on port 8080, the nginx logs just respond with code 400.

my authelia portal nginx:

[2018-05-14 23:50] jakegroves commented on #226
Thanks for your prompt response @clems4ever.
I don't understand how it would not support HTTPS requests? As the examples you provide are running over HTTPS ?
Is this not solvable via nginx?
Also is it a feature on the roadmap?

Thanks for your time in replying!

[2018-05-15 07:06] clems4ever commented on #226
Sorry, I read your question a bit too fast, I thought you were forwarding authentication requests to Authelia in HTTPS. But after reading again your configuration, I was wrong.

Can you please try this for redirection of HTTP to HTTPS:

[code]

[2018-05-16 00:08] jakegroves commented on #226
It turns out to be an issue with nginx as it does not handle 'CONNECT' requests. (which is the nginx proxy server handling the proxying of the established tcp connection, and not the actual get/post/put/delete requests you would normally do on a reverse proxy.)
I have ended up recompiling nginx and making a docker image to support the module: [ngx_http_proxy_connect_module](https://github.com/chob

[2018-05-16 21:47] jakegroves opened #227 "[assistance] Redirect to error 401: First factor has not been validated yet"
Hello,

My current setup which is mentioned in question: [#226](https://github.com/clems4ever/authelia/issues/226) is about using authelia as 2FA SSL Tunnelling with the CONNECT Protocol. This turned out to be an issue with nginx not natively supporting this.

My set-up is working and will post a better guide on it later if it is desired.

Structure:
[code]

**However ...** i have hit a blocker wi

[2018-05-16 22:10] clems4ever commented on #226
Glad you found the solution :).

[2018-05-16 22:10] #226 closed

[2018-05-16 22:25] clems4ever commented on #227
Nginx configuration looks good to me btw.

[2018-05-16 22:30] jakegroves commented on #227
Hi @clems4ever thanks for your prompt responses again!
Not sure how the sessionid would change baffles me.

Below is my authelia config:
[code]

the ldap is using the openldap docker container provided and authing against that ldap with user 'john' password 'password'

[2018-05-16 22:36] clems4ever commented on #227
You're missing the 'session.domain' parameter in the configuration.

[2018-05-16 22:42] jakegroves commented on #227
I added `session: domain.com` back and I still get the same problem with the sesionid changing at the same point

[2018-05-16 22:46] clems4ever commented on #227
Can you make sure this is not a bug with single_factor (which is a relatively new feature) by trying with TOTP in two factor?

[2018-05-16 22:48] clems4ever commented on #227
Do you use an incognito tab in Firefox?

[2018-05-16 22:50] clems4ever commented on #227
You can also make sure you have something in the redis (meaning sessions are correctly stored and can be retrieved in subsequent queries of the same user).

[2018-05-16 22:55] jakegroves commented on #227
I have been incognitoing in firefox to stop the session awkwardness.
I have also tried local storage beforehand and same behaviour.
I have changed to 'two_factor' and when redirection from /api/firstfactor to /secondfactor my sessionid chnages
[code]

It feels like each http request is generating a different unique session/request?

[2018-05-16 23:08] clems4ever commented on #227
Yes, I think I remember seeing this behavior with a bad connection to redis at some point. Can you check you have anything in there to confirm sessions are correctly stored.

[2018-05-16 23:17] jakegroves commented on #227
I entered the docker container for redis and went onto redis-cli and can see the sessions being stored into redis

[2018-05-16 23:42] jakegroves commented on #227
I have ended up swapping from mongo storage to local storage.
deleted the redis docker image, re-downloaded and started the container again and sessions are reacting in the same way with the 401
Played around with nginx with forcing ssl in certain places.

Is there any directions on how to debug authelia further?
Or want instructions on how to replicate exactly?

thanks for your time and effort :)

[2018-05-17 07:32] clems4ever commented on #227
I tried to reproduce with your configuration locally and I think I found the solution. In your logs I see that there is no header "x-forwarded-proto" set to "https". I think it comes from a nginx misconfiguration. Can you confirm that
[code]

[2018-05-17 07:37] clems4ever commented on #227
x-forwarded-for is used by the session handling mechanism in Authelia. Without it Authelia cannot guarantee the session is sent in a secure way (using HTTPS). Unfortunately, Authelia does not know the session are sent securely if the header is not there and thus new sessions are generated for every request.

[2018-05-17 08:05] jakegroves commented on #227
thanks for reproducing.
Seems like i trolled myself with that header.
Swapping `X-Forwarded-For $proxy_protocol-addr` to `X-Fowarded-Proto $scheme` stops the error 401.

Appreciate this!

However, I still have the issue of authelia not redirecting me to the requesting uri, and redirects me to the default redirection for authelia set.
Not sure on the headers authelia expects to determine that?

[2018-05-17 08:17] clems4ever commented on #227
Good! For the redirection issue, it happens because you have neither a redirection url set in the config nor the user visited a protected endpoint I guess. Can you confirm the 2 assertions?

I think that if you click on a protected endpoint you'll be redirected to the portal and then redirected as expected upon successful authentication.

The problem is Authelia cannot know where to redirect the u

[2018-05-17 08:32] jakegroves commented on #227
That is correct those two assertions, because the behaviour I expect is:
I hit `https://backups.domain.com/index.php` or `https://backups.domain.com/foo/bar/baz.html` and if I do not have an authorised session in authelia, then authelia will jump up and present a portal to auth against, and then once authed redirect back to where the original uri was if that makes sense?

[2018-05-17 10:11] clems4ever commented on #227
Yes exactly. Can you show me the "backups.domain.com" part of your nginx configuration, I think some headers are missing in the authentication request sent to Authelia.

[2018-05-24 11:07] ejparker12 opened #229 "ldap connection stalling?"
So I'm using freeIPA as my ldap backend, and I had authelia working as desired for several months (this is masau from way back in October - I changed accounts to match my more professional stuff a while back). Unfortunately my freeIPA server died 2-3 months ago and I didn't have time to fix it until earlier today - once it was back up I went to ensure that authelia was still working, and unfortuna

[2018-05-27 21:43] clems4ever commented on #229
Hello @ejparker12 ,
have you changed the schema of your LDAP? Have you changed the type of LDAP server?
There is nothing straightforward I can see from the logs, sorry.

Thanks,
Clément.

[2018-05-28 07:27] andrvas opened #230 "LDAP Query with Cyrillic"
HI!
I tried to set up Authelia with Active Directory.
I  get success only if LDAP Query doesn't contain a cyrillic.

Nonworking Config example:
`base_dn: DC=MCPLAT,DC=RU`
`additional_users_dn: OU=ДИТ (Департамент информационных технологий),OU=_Users,OU=Бизнес-Центр Wall Street,OU=2-ая Советская 27,OU=_ООО НКО Мобильная Карта_`

What i see in tcpdump:
`ou=.......(...................................

[2018-05-29 13:34] jad-47 opened #231 "failed to connect to server [mongo:27017]"
Hello,
When I write the following command for installation and configuration

docker run -v /Users/amjadhamad/Desktop/authelia-master/config.template.yml:/etc/authelia/config.yml -v /Users/amjadhamad/Desktop/authelia-master/dir:/var/lib/authelia clems4ever/authelia

The result is :

Unhandled rejection MongoNetworkError: failed to connect to server [mongo:27017] on first connect [MongoNetworkError

[2018-05-29 20:20] clems4ever commented on #231
Hello @jad-47,

please follow the steps from the README. You should be able to deploy a complete working environment using docker-compose.

Thanks,

[2018-05-29 20:20] #231 closed

[2018-05-29 22:07] ejparker12 commented on #229
It appears to be having an problem actually unbinding a user - when I comment out lines 36-39 in ldap Authenticator.ts (https://github.com/clems4ever/authelia/blob/9933900395c5718d0e6dc36db4e7375c20c80c39/server/src/lib/ldap/Authenticator.ts#L36), it successfully rebinds as the admin account and both finds and returns the emails/groups of the user before stalling again when trying to unbind the ad

[2018-05-29 23:20] ejparker12 commented on #229
A FreshIPA server did not resolve the issue - it still stalls on unbinding user.

[2018-05-30 07:46] clems4ever commented on #229
Hello @ejparker12 ,
this is weird since this part of the code has not changed for a long time now.
Did you upgrade the version of Authelia? I guess so if you installed it few months ago and given your current config.

So, have you tried to reuse the version you were using previously to put aside any issue with your LDAP? This is what I would do first I guess because there is a big set of tests goi

[2018-05-30 07:47] clems4ever commented on #229
Also, do you have logs from the LDAP server that could help understand why the unbinding does not work?

[2018-05-30 12:53] andrvas commented on #230
Hello! I make huge mistake.
Tcpdump cannot display cyrillic symbols in terminal output (That's why i saw the dots in query).
I make dump into file and checked it with wireshark. The outgoing query to ldap server was correct.
The error was in config.yml file where the variable "users_filter" equals "cn={0}" in default.
I guess that more correct default option is "users_filter: sAMAccountName={0}".

[2018-05-30 12:53] #230 closed

[2018-05-30 15:38] djsakisd opened #232 "Reset Password not working"
Hi Clément

I have an issue with password reset function.
I can get the reset email aswell as the 2FA register emails just fine , authelia is working absolutely fine but when i try to reset a forgoten pass i get this error in log and of course reset form wont work.

*Authelia is installed with NPM
Ubuntu 16.04.4 LTS
npm: '6.1.0'

`info: date='Wed May 30 2018 18:18:11 GMT+0300 (EEST)' method='POST'

[2018-05-30 16:56] clems4ever commented on #230
Hello @andrvas , I'm interested in knowing if the change works and if Authelia supports Cyrillic. Please keep me posted if you do the test.

[2018-05-30 17:01] clems4ever commented on #232
Hello @djsakisd ,
This is interesting. Are you running Authelia on a Mac or Raspberry PI by any chance?
The first thing I can think of is that crypt3 might not be built for all architectures...

[2018-05-30 17:12] andrvas commented on #230
Yep. Authelia works with cyrillic but only with user binding one by one.
I tried to bind by group membership and i didn't have enough time for testing but i always got the error that my user member hadn't access to protected domain.
Mabe it's needed more specific option in config.yml for groups.

[2018-06-08 09:36] clems4ever commented on #232
Hello @djsakisd , can you please try with version 8 of node as it is tested with this version in Travis?

[2018-06-08 09:40] clems4ever opened #233 "Simplify configuration to run Authelia in demo mode"
The objective is to improve adhesion of Authelia by giving a way to users to test it without setting the whole environment. For this configuration must be reduced to the strict minimum (without ldap, redis, mongo).

It will also improve testability since some integration tests will be able to run without the entire environment.

Obviously, this won't be meant for production environments.

[2018-06-08 09:42] clems4ever commented on #227
Hello @jakegroves , it's been a while. Have you been able to solve your issue? Please re-open the ticket if not solved yet.

[2018-06-08 09:43] clems4ever commented on #229
Hello @ejparker12 , have you been able to solve your issue? If not yet, please re-open the ticket.

[2018-06-08 09:44] clems4ever commented on #221
Hello @ciroiriarte , have you solved your issue? if not yet, please re-open the ticket.

[2018-06-08 09:44] #221 closed

[2018-06-11 21:11] ejparker12 commented on #229
Sorry for the inactivity, I've been busy the last few weeks and haven't had a chance to dig deeper yet. It is unfortunately not fixed yet.

Relevant logs from slapd on my FreeIPA server:
[code]

The LDAP server appears to be receiving the unbind command and successfully unbinding - but maybe it isn't sending a result back? I have no idea what version of Authelia I was on previously (or what versio

[2018-06-11 23:24] ejparker12 commented on #229
After looking through my previous issues (posted as masau), I looks like I was using version 3.6.0 when I last had it working. I reverted, but have the same issue - login process doesn't progress after trying to unbind.

[2018-06-13 04:28] ejparker12 commented on #229
So I rebuilt my FreeIPA server on Fedora rather then CentOS so that I could use a more recent version of FreeIPA (v4.6.90 vs v4.5.4, though the primary differences between 4.6 and 4.5 is which version of Python they use, both are actively maintained/updated), but still no luck. And digging into ldapjs wasn't productive either.

[2018-06-13 10:46] ejparker12 commented on #229
So as a test, I built your docker example (the example-commit version). This worked as expected. I then modified the authelia config in my clone to use my freeipa server - and it still worked. I then pointed both redis and mongodb to the versions on my existing setup and copied more or less all of my configuration over (only major differences are how I'm pointing to redis and mongodb - rather then

[2018-06-13 12:46] clems4ever commented on #229
Hmmmm, this is interesting. Thank you for the investigation. This issue seems weird though and it made think to this one: https://github.com/clems4ever/authelia/issues/232 even I think they are unrelated.

Can you send me the version of node and npm you are using?

[2018-06-13 16:01] ejparker12 commented on #229
Reverting to either node 9.9 or to the lts-carbon package (v8.11.2) resolves the issue. I imagine you probably do the bulk of your testing against Carbon, so I'll stick with the lts-carbon package.

[2018-06-13 23:13] damomurf commented on #229
I'm seeing this same behaviour also under Kubernetes, running the `clems4ever/authelia:v3.7.1` tagged container version.

[2018-06-14 05:00] ejparker12 commented on #229
If I have time tomorrow I'll see if I can replicate the error w/ kubernetes, but I've got a bunch of other stuff I need to get done that I've been putting off.

I don't know much about kubernetes, so I don't know that I'll be much help even if/when I do have time to take a look though.

[2018-06-15 15:43] ejparker12 opened #234 "404 error for api/verify"
Now that I've got the authentication process of authelia working again I have discovered that the verification in nginx isn't working anymore either (it seems /api/verify isn't working):

Nginx Error:
`2018/06/15 15:32:49 [error] 7541#7541: *3 auth request unexpected status: 404 while sending to client, client: 172.16.41.30, server: portal.actcur.com, request: "GET /authenticated.php HTTP/1.1", ho

[2018-06-15 18:05] ejparker12 commented on #234
Fixed it - npm was reporting the wrong version of Authelia being installed - it was claiming 3.7.1 was installed, but the actual version was one from way back before you changed the verify url from /verify to /api/verify. Uninstalling the authelia package and reinstalling it fixed the issue.

[2018-06-15 18:05] #234 closed

[2018-06-15 19:36] clems4ever commented on #234
Hello @ejparker12 , I'm glad you found a solution. Thanks.

[2018-06-18 15:23] tsukasagenesis commented on #233
It's definitely a great idea, I start to install it but when I saw LDAP it's instantly a turn off. Between redis, mongo, and ldap I had to install more than 200MB for a small project of secure my dev env.

Please make it append,  I will be glad to try it out.

[2018-06-19 20:00] n4kre opened #235 "Session cookie: customizable name and do not forward to Nginx backend"
Hi,

The session cookie name (field `name` in `ExpressSession.SessionOptions`) should be customizable: `connect.sid` is the default name for Express-Session, and this can pose a lot of troubles if the backend that is protected by Authelia also uses this name for some of its cookies, for obvious reasons.

Then, it would be nice not to forward Authelia's session cookie to the backend, for security r

[2018-06-20 14:00] starouille commented on #233
same here, i will use Authelia with less dependencies.

[2018-06-20 14:39] clems4ever commented on #233
Good to know. For your info, only the LDAP server is mandatory, everything else (persistent storage and server session storage) can be stored either in memory or on disk.

For persistent storage, the option is in the config file and for session storage I think that removing the *redis* object from the configuration file makes Authelia use the Memory backend of express-session (this was previously

[2018-06-20 15:47] starouille commented on #233
yes, i already saw "local storage".  LDAP is the major blocking point because we didn't have it.

[2018-06-21 09:57] clems4ever commented on #233
Clear, I will add support for a password database then.
Thanks.

[2018-06-21 16:09] BankaiNoJutsu opened #236 "Is it possible to do HA / clustering ?"
Hello! And thank you for this beautiful software ! I was wondering if there was any HA Support? Like pacemaker/corosync with a VIP for example.

I seem to remember that there is something written about the storage being high availability? But how does it work?
Edit: High-availability using a highly-available distributed database and KV store.

If not i will look into it.

[2018-06-21 23:29] n4kre commented on #235
FYI, I've updated my [deployment guide](#178) assuming you'll take this security remark into account (cf. file `authelia_sso_params`) ;)

Feel free to update the Wiki article in accordance.

[2018-06-21 23:39] n4kre commented on #216
Hi both,

I suggest you review the changes I've just made to `authelia_check-auth_block_external_api` (and `authelia_check-auth_block_internal_api`) in my little [deployment guide](#178).

Basically, here is what I added in these files:
[code]

I also anticipated some changes in `authelia_sso_params` related to [this security issue](#235).
Here is what I added in this file:
[code]

Feel free to up

[2018-06-22 11:49] clems4ever commented on #236
Hello @BankaiNoJutsu , indeed Authelia can be HA provided that your Redis and Mongo are configured correctly. This means that if they are in HA mode, you can have as many instances of Authelia as you want in the cluster and there is no need for cookie stickiness since the user sessions are stored in the Redis.

However, please note that Authelia only supports one address for the LDAP server so you

[2018-06-22 11:49] #236 closed

[2018-06-22 11:56] clems4ever commented on #235
Very good remark! I will definitely add the option in the configuration file and update the documentation with your updates.
I will also put the documentation directly in the source tree so that you can create a pull request for next time.

[2018-06-22 12:00] clems4ever commented on #233
@starouille, I think I will use htpasswd files for the password DB. What do you think?

[2018-06-22 14:14] starouille commented on #233
htpasswd with bcrypt hashed password is perfect :).

[2018-06-29 10:22] changchichung opened #237 "can not start docker"
error messages below
any suggestions ?

[code]

[2018-06-29 11:39] clems4ever commented on #237
Hello @changchichung , please use argument `-v $(pwd)/config.yml:/etc/authelia/config.yml` instead. It's like config.yml is a directory in the container.

[2018-07-04 10:21] naggie commented on #59
Hi, I was seeing this same issue with my deployment. It turns out that the cause was the change in https://github.com/clems4ever/authelia/blob/master/shared/constants.ts

from

[code]
to
[code]
I was aware of this change, but assumed the latest version on NPM reflected the documentation on master which was my mistake.

Please could you publish a new version on NPM.

Thanks for the effort you've pu

[2018-07-05 10:50] naggie commented on #235
I suggest that the cookie name should have a default, and that default should be namespaced to authelia. For example: `authelia_session`. This will make generalising an nginx configuration that accounts for the warnings given by @n4kre in  `authelia_sso_params`.

[2018-07-06 09:18] hadmut opened #238 "Dockerfile doesn't build"
Hi,

./scripts/example-commit/deploy-example.sh

fails to build with

Step 5/11 : COPY dist/server /usr/src/server
ERROR: Service 'authelia' failed to build: COPY failed: stat /var/lib/docker/tmp/docker-builder900301777/dist/server: no such file or directory
Building authelia

probably because the Dockerfile contains

COPY dist/server /usr/src/server
COPY dist/shared /usr/src/shared

while the dir

[2018-07-06 10:30] naggie commented on #176
This would be very useful, particularly the part about the first time.

[2018-07-06 10:33] naggie commented on #225
I'm also seeing this, in particular when I have the LDAP configuration wrong.  As a workaround, I've updated my systemd configuration to restart authelia on crash after 3 seconds in case it is triggered.

[2018-07-06 10:40] naggie opened #239 "Invalid email credentials result in confusing 401 Unauthorised page when registering 2FA token"
Unknowingly, I had incorrect SMTP credentials such that the confirmation/registration emails could not be sent. As a result, when clicking on the link to register a hardware token or google authenticator token I get the following error:

![image](https://user-images.githubusercontent.com/208440/42374733-012ebbf2-8111-11e8-8d56-9dc6c165a9ac.png)

This was very confusing until I looked at the debug

[2018-07-06 10:52] naggie opened #240 "Support TLS against LDAP Server"
ldapjs supports http://ldapjs.org/client.html#starttls but this is not exposed as an option in the authelia configuration. I'd suggest the following options:

`require_starttls` -- see below as to why forcing is essential.
`ca_crt`-- location of certificate (optional, for self-signed chains)

If I can get some time to work on this I'll attempt a PR.

Thanks!

------

For those that want to know th

[2018-07-06 23:24] tedstriker opened #241 "Support for webauthn"
It‘d be really nice to have support for the webauthn protocol.

[2018-07-08 08:37] clems4ever commented on #238
Hello @hadmut , thank you for the report. I will check what's happening and fix it, hopefully today.

[2018-07-08 08:37] clems4ever commented on #237
Hello @changchichung , any news? Let's reopen the ticket if my suggestion does not solve your issue.

[2018-07-08 08:37] #237 closed

[2018-07-08 11:37] clems4ever commented on #240
Hello @naggie , you are right I have not made it available yet in the configuration file. I'd be glad to review your PR :).

[2018-07-08 11:44] clems4ever commented on #239
Hello @naggie , this behavior is expected for security reasons. It protects against username enumerations. You can refer to #133 to get more info.

[2018-07-08 11:44] #239 closed

[2018-07-08 11:49] clems4ever commented on #241
Hello @tedstriker , this would indeed be a good idea! Thank you!
Do you already use Authelia without this feature?

[2018-07-08 11:50] clems4ever commented on #232
Hello @djsakisd , please re-open this ticket if my suggestion does not solve your issue.

[2018-07-08 11:54] clems4ever commented on #229
@damomurf, this is weird, I'm using v3.7.0 on kube without any issue. I'll try to upgrade today to check.

[2018-07-09 20:27] DonaldKevin opened #243 "It stops at firstfactor, and now I need help."
I started with the bare example, single machine; that worked.

Now, I want to be able to get to the second factor, using two machines.

So, I have a test setup:
host one (my desktop): {
  ldap server (user dn is uid=john,ou=People,dc=testing,dc=local),
  authelia (listening on 4221),
  nginx (location login.example.com),
  no docker, no mongo, no redis
}
host two (a VM, running inside my desktop):

[2018-07-17 15:38] naggie opened #244 "Slow LDAP server means login form appears to do nothing"
When submitting the firstfactor form, the call is made to the API but the UI does not reflect that something is happening, in fact the password field is emptied -- at least on Chrome.

My configuration speaks to an active directory server that sometimes takes 15 seconds or so to respond particularly on the first request in a while.

The result is that the login button appears to do nothing. If the

[2018-07-17 15:39] naggie commented on #240
I'm happy to do one, hopefully this week.

[2018-07-20 09:27] naggie commented on #244
Implemented here https://github.com/clems4ever/authelia/pull/246

[2018-07-25 19:12] clems4ever commented on #243
Hello @DonaldKevin, sorry for the delay. I would need the nginx configuration you are using.

[2018-07-25 19:16] clems4ever commented on #238
Sorry, for the delay. You're issue is coming from the fact that authelia needs to be compiled before the docker image can be built. Please follow the steps mentioned in the README.
Please re-open the ticket if you still have issues while building the image.

Thanks.

[2018-07-25 19:16] #238 closed

[2018-07-26 18:32] djsakisd commented on #232
Hi @clems4ever

I have updated everything to latest versions problem is still here unfortunately.
$nodejs --version
v8.11.3
$npm --version
6.2.0
authelia@3.7.1

Authelia reset password error :
`debug: date='Thu Jul 26 2018 21:21:26 GMT+0300 (EEST)' method='POST', path='/api/password-reset' requestId='0ee855d0-f6be-4be7-bcf4-897dd89903be' sessionId='mXkNejZfNnotPjE3i5xHyoKnpvxqP1Gs' ip='8x.xx.xx.x'

[2018-07-26 22:12] #244 closed

[2018-07-27 06:12] clems4ever commented on #232
Can you please send the result of `uname -a`?

[2018-07-27 06:15] clems4ever commented on #232
Here is the content of my package-lock for you to compare the version of crypt.
https://gist.github.com/clems4ever/c245f4fbe3ab141bd65391eaa09a62fb

[2018-07-27 06:19] djsakisd commented on #232
Hi @clems4ever

Here it is :
`#uname -a
Linux stl 4.15.17-2-pve #1 SMP PVE 4.15.17-10 (Tue, 22 May 2018 11:15:44 +0200) x86_64 x86_64 x86_64 GNU/Linux`

[2018-07-31 01:57] ejparker12 commented on #243
The version numbers for node, npm (if you're using it) and authelia could help as well - this looks similar to the issue I had a few months ago (#229), which turned out to conflict related to running the latest version of Node (10.4.1 at the time) rather then running the latest Carbon LTS release (which is what clems tests against)

[2018-08-07 03:41] mnlbox commented on #30
@clems4ever any news about this?
If we can call a REST endpoint we can send TOTP as SMS. Yes?

[2018-08-07 04:20] mnlbox opened #248 "How to use with docker-compose?"
@clems4ever I want to use this awesome tools with docker-compose and mix this with parse platform.
Now I'm using https://github.com/bitnami/bitnami-docker-parse-dashboard  for up and running mongodb + parse-platform + parse-dashboard
I also search a lot for a 2FA solution for parse [here](https://github.com/parse-community/parse-server/issues/4024) and [here](https://github.com/parse-community/par

[2018-08-07 20:39] clems4ever commented on #30
Hello @mnlbox , no advancement on this topic yet. Code sent by SMS is indeed what I had in mind, no TOTP since few seconds to validate the code is a bit too short in that case.

[2018-08-07 20:42] clems4ever commented on #248
Hello @mnlbox , I would recommend checking how Authelia is deployed for integration testing. You can have a look at ./scripts/example-commit/dc-example.sh.

[2018-08-08 06:04] mnlbox commented on #248
@clems4ever I see `/example/compose/ldap` and it seems we can merge this with my docker-compose (first post of this issue) but I don't undrestand your note about `./scripts/example-commit/dc-example.sh` :thinking:
Can you explain more about this?

[2018-08-08 06:12] mnlbox commented on #30
@clems4ever Thanks for your reply and this awesome project.

**My suggestion:**
I think we need some help and tutorial about use of this with popular tools (for example parse platform, firebase, ...)
___
**My question:**
Are you any plan for this issue? (SMS based two factor)
___
**Maybe useful:**
I implement this later with https://github.com/speakeasyjs/speakeasy based on this article in Loopbac

[2018-08-08 06:38] clems4ever commented on #248
@mnlbox , I meant the script shows you which docker-compose is used to have a complete working environment. You can have a look at the different docker-compose files and choose the ones relevant for your case. In a minimal configuration you would not need all of them but this is a good start.

Please note I'm also refactoring Authelia in the open PR to make it use an environment made of less compo

[2018-08-08 06:49] clems4ever commented on #30
Glad you like it! There are plenty of things to improve Authelia. I don't know all of those projects but you can definitely contribute by writing some documentation for them if you use them, it might be helpful to other users.

After second thought we might use TOTP to generate those tokens but we'll need to extend the expiration time to say 5-10 minutes or so. Speakeasy is already used in Autheli

[2018-08-12 16:17] ps-tfriedl opened #249 "Unhandled rejection MongoNetworkError: failed to connect to server [mongo:27017] on first connect"
I managed to get a working setup by following the example.

However as soon as I want to persist my mongo db, authelia fails with this error: Unhandled rejection MongoNetworkError: failed to connect to server [mongo:27017] on first connect

On first look it seems that authelia is too fast during the setup and persisting mongo delays it's startup.  I already put a depends_on for the mongo container

[2018-08-13 06:56] whiskerch opened #250 "Add ability to configure 2FA name in google authenticator"
Is it possible to configure the Name of the 2FA token that gets imported to Google Authenticator?

At the moment, when a user sets up 2FA - the entry in google authenticator shows 'authelia.com' as the name

[2018-08-13 12:40] clems4ever commented on #250
Hello, yes it is possible and I've just seen this is not documented and not even present in the config template. I will add it.

You can set your own issuer by adding

[code]

[2018-08-13 12:41] clems4ever commented on #250
@whiskerch , you can contribute by adding it to the config template if you wish.

[2018-08-13 12:42] whiskerch commented on #250
Cheers!
I'll make the change and raise a PR now :)

[2018-08-13 12:43] clems4ever commented on #249
Hello @ps-tfriedl , can you confirm your hypothesis by starting mongo for few seconds and then Authelia and see if you still have the issue?

[2018-08-13 13:26] ps-tfriedl commented on #249
Confirmed. If I start mongo as a separate container (but in the same docker network) it works with a mounted volume. If it's in the same docker-compose file it breaks with "failed to connect to server".

[2018-08-13 14:56] clems4ever commented on #249
Did you know that you can do `docker-compose up -d mongo` to only start mongo even if both services are in the same docker-compose?

For the issue, I definitely need to implement some kind of retry mechanism, I'll have a look. thank you for the heads up.

[2018-08-14 02:42] nightah opened #252 "Redirect referrer is lost after /secondfactor"
Hello Team,

Firstly fantastic piece of software and I appreciate all your efforts.

I appear to be having an issue with authelia behind an nginx reverse proxy. From what I can tell the referrer is always lost after the second factor auth at the `/secondfactor` URI resulting in no redirection to the original location on a successful auth. Not entirely sure if it's my misconfiguration but would lov

[2018-08-14 05:34] nightah commented on #252
Okay so I found the issue.

It's to do with https://github.com/clems4ever/authelia/commit/48d6107b0b9e1a028046a230ebfe0e971cbac044 and the `latest` tagged container in DockerHub.

The `latest` version which appears to be `v3.7.1` still expects the following line within the nginx configuration:
[code]

Specifically the `?redirect` as opposed to `?rd` which is in all of the example configuration lik

[2018-08-14 05:34] #252 closed

[2018-08-14 06:26] clems4ever commented on #252
Hello @nightah , thank you for reporting. I'm glad you found your solution.
Regarding the change from `redirect` to `rd`, I'm thinking about maintaining a changelog. I think this would have helped since this change was indeed kind of breaking.

[2018-08-14 08:26] naggie commented on #252
I also encountered this issue -- I'd appreciate a new release, too, as to use the latest PRs directly from NPM.

https://keepachangelog.com/en/1.0.0/ has a good format if you're not already aware of it.

[2018-08-16 20:14] circlenaut opened #254 "2FA Registration e-mail Does not go to e-mail set in LDAP"
When clicking the "google authentication" after login email is sent to "user@REALM.com" instead of e-mail setup in LDAP.
I'm using FreeIPA as my LDAP backend and email was changed under contact settings within the FreeIPA webGUI for a user.

[2018-08-17 00:56] circlenaut commented on #254
Nevermind! Just took a few hours for the e-mails to propagate.

[2018-08-17 00:56] #254 closed

[2018-08-19 09:01] clems4ever commented on #250
Merged!